/* 
 * 
 * Booking-suite-theme syling
 * @author Matt Peternell| http://mattpeternell.net
 * @package upBootWP 0.1
 *
 */

@import url('../bootstrap/less/variables.less');
@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,400italic,600italic');

@global-link-color: #009FE3;
@global-link-hover-color: #006996;

@global-edit-link-color: @brand-primary;
@global-edit-link-hover-color: darken(@brand-primary, 15%);
 
@global-color-black: #3c3c3c;
@global-color-white: #fff;
@global-color-lt-blue: #009FE3;
@global-color-med-blue: #345E97;
@global-color-drk-blue: #003580;
@global-color-lang-bar: #001B46;
@global-color-lt-grey: #F9F9F9;
@global-color-med-grey: #4A4A4A;
@global-color-drk-grey: #3B3B3B;

@global-lt-grey-pg-bground: @global-color-lt-grey;
@global-med-grey-pg-bground: #E5E1E1;
@global-request-demo-bground: @global-color-med-grey;
@global-footer-bground: @global-color-drk-grey;

@global-row-margin-bottom: 5%;
@global-pad-bottom: 5%;
@global-pad-top: 5%;
@global-section-padding:  5% 8%;
@global-max-width: 1366px;

@langbar-height: 25px;

@footer-link-color: #fff;
@footer-link-color-hover: #a2a2a2;

@import url('stories-grid.less');

/***************************************************
 * 
 *  WP CSS Class Name styling
 * 
 **************************************************/

.post-navigation {
    margin: 6% auto;
    .nav-next {
	    text-align: right;
	}
}

.admin-bar {
	.navbar-fixed-top {
	    top: 32px;
	    z-index: 1030;
	}
	.site-hero, .page-hero {
	    margin-top: 85px;
	}
	&.single .site-main {
    	margin-top: (10px + @navbar-height);
	}
}

 .post-edit-link {
	color: @global-edit-link-color;
    float: none;
    text-align: center;
    &:hover {
    	color: @global-edit-link-hover-color;
    }
}
.btn-group {
	&.edit-post {
	    text-align: center;
	    width: 100%;
	}
}
.repar .jumbo-btn-group {
    text-align: center;
}

.repar .jumbo-btn-group a {
    margin: 0 10px;
}

.revise {
    margin-left: 10px;
}

p { margin: 0 0 16px;}

b, strong {
    font-weight: 600;
}

.jumbo-btn-group.edit {
    margin-bottom: 3%;
}

.gry {
    background-color: #f9f9f9;
}

/***************************************************
 * 
 *  Nav Bar
 * 
 **************************************************/

.language-bar {
    background-color: @global-color-lang-bar;
    .language-menu {
	    color: #fff;
	    font-size: 12px;
	    width: 100%;
	}
    .fa.fa-language {
	    margin-right: 10px;
	}
	.fa.fa-angle-down {
	    margin-left: 10px;
	}
	.lang-title {
	    float: right;
	    line-height: 28px;
	    margin: 5px 15px;
	}
	#lang_sel_click {
	    float: right;
	    height: auto;
	    margin-bottom: 5px;
	    margin-top: 5px;
	}
}

/*request a Demo - hide all main nav for mobile and desktop devices */
.page-template-request-a-demo-page {
	.navbar-collapse.mobile, .navbar-desktop {
		display: none !important;
	}
	.navbar-toggle {
		display: none !important;
	}
}

.btn.btn-default.clear {
    background-color: rgba(255, 255, 255, 0.01);
    border-color: #fff;
    color: white;
}
.navbar-desktop {
	float: right;
	margin: 0;
	padding: 15px 0;
	width: auto;
}

#logo > a img {
    padding: 15px 0;
}
.navbar-right {  
	margin-right: 0;
}
.navbar {
	.mobile	 {
		.navbar-nav {
		  margin: 0 -15px;
		  display: none;
		}
		
		li {
	  		background-color: @global-color-med-blue;
	  		border-bottom: 1px solid #486ea1;
	  		a {
				padding: 20px 40px;
				font-weight: normal;
				font-size: 18px;
	  		}
	  	}
		.login-btn {
			background-color: @global-color-lt-blue;
	  		margin: 0;
	  		border-radius: 0;
	  		a {
	  			border: none;
	  			text-align: left;
			}
		}
		.request-btn {
			margin: 0;
			a {
				border-radius: 0;
				text-align: left;
			}
		}
	}

}

.navbar {
	.container-fluid {
	    max-width: @global-max-width;
	}
}

.navbar-collapse {
	&.collapse.in {
	    padding-bottom: 0;
	    padding-top: 0;
	}
}

.navbar-inverse {
	.navbar-toggle {
		color: #ffffff;
		margin-bottom: 0;
    	margin-top: 15px;
	}	
}

#logo a  {
	 display: block;
	 outline: none;
}

/***************************************************
 * 
 *  Images and SVG Styling
 * 
 **************************************************/

.svg {
	    height: 75px;
	    width: 100%;
	    max-width: 100px;
}


/***************************************************
 * 
 *  Breadcrumb Styling
 * 
 **************************************************/

.breadcrumb {
	margin-bottom: 0px;
}

/***************************************************
 * 
 *  regional hq
 * 
 **************************************************/

.regional-hq {
	.panel {
		min-height:600px;
		margin-bottom: 30px;
		.panel-body {
			
		}
	}
	.col-lg-12 {
		h3 {
		    border-bottom: 1px solid #ccc;
		    font-weight: 400;
		    margin-top: 5%;
		    padding-bottom: 1.95%;
		}
	}
	.row .col-lg-8 {
		.row {
		    margin-bottom: 0;
		}
	}
	
	.hq-image {
		margin-bottom: 25px;
	    position: relative;
		.h3 {
		    bottom: 0;
		    color: #fff;
		    font-weight: 400;
		    margin: 0;
		    padding: 25px;
		    position: absolute;
		    width: 60%;
		}
	}
	.img-responsive.wp-post-image {
	    max-width: 100%;
	    width: 100%;
	}
}

/***************************************************
 * 
 *  Tab Styling
 * 
 **************************************************/

.tab-wrapper {
	&.about-tabs {
		padding: 0 8%;
		margin-bottom: @global-row-margin-bottom;
		.nav-tabs {
			width: 100%;
			max-width: @global-max-width;
			a {
			    padding: 10px 45px;
			    text-align: left;
			}
		}	
	}
}

.tab-content {
	&.about-tab-panels {
		clear: both;
		margin: 0 auto;
		max-width: @global-max-width;
		overflow: auto;
		width: 100%;
		.panel {
			.h5 {
				text-align: left;
			}
			p {
				padding: 0 15px;
			}
		}
	}
	.col-lg-4.hq .panel {
	    min-height: 527px;
	}
}

.tab-wrapper {
	background-color: darken(@global-color-lt-grey, 6%);
	.nav-tabs {
	    margin: 0 auto;
	    max-width: 405px;
	    width: 100%;
	     a {
	     	background-color: darken(@global-color-lt-grey, 10%);
		    color: #3c3c3c;
		    font-weight: 600;
		    padding: 10px 60px;
		    -webkit-transition: background 300ms ease-in;
			-moz-transition: background 300ms ease-in;
			-ms-transition: background 300ms ease-in;
			-o-transition: background 300ms ease-in;
			transition: background 300ms ease-in;
			text-align: center;
			border-top: 5px solid  darken(@global-color-lt-grey, 10%);

		    &:hover {
		    	border-top: 5px solid lighten(@global-color-lt-blue, 15% );
		    }
		}
		li {
		    display: block;
		    float: left;
		    margin: 0;
		    max-width: 200px;
		    width: 100%;
		   border-top: none;
		    &:first-child {
		    	border-right: 1px solid lighten(@global-color-black, 60%);
				border-left: 2px solid  lighten(@global-color-black, 60%);
			}
			&:last-child {
		    	border-right: 2px solid lighten(@global-color-black, 60%);
				border-left: 1px solid  lighten(@global-color-black, 60%);
			}
			&.active {
				
				a {
					background-color: #fff;
					border-top: 5px solid @global-color-lt-blue;
					&:hover {
						//border-top: 5px solid lighten(@global-color-lt-blue, 15% );
					}
				}
			}
		}
	}	
}


.quote-title {
	font-size: @font-size-h2;
	padding-bottom: 25px;
	p {
		margin: 0;
		
	}
}
.quote-subtitle {
	padding: 0 0 5% 5%;
}
.fa.fa-minus {
    margin-right: 15px;
}
.fa.fa-quote-left {
    margin-right: 10px;
}
.fa.fa-quote-right {
    margin-right: 10px;
}
.quote-title, .quote-subtitle {
	color: @global-color-white;
}

/***************************************************
 * 
 * People Tiles
 * 
 ***************************************************/

.sub-section.dark-grey.photo-tiles {
    padding: 0;
}

.tile-container {
    overflow: auto;
}

.people-tile {
	float: left;
	max-width: 16.6667%;
	height: auto;
	position: relative;
	.edit {
		position: absolute;
		top: 0;
		right: 0;
	}
}
/***************************************************
 * 
 *  PR List Styling
 * 
 **************************************************/
.pr-list {
    text-align: left;
    .pr-list-item {
	    padding-top: 10px;
	    padding-bottom: 10px;
	    > ul {
		    list-style: outside none none;
		    margin: 0;
		    padding: 0;
		}
	     a {
		    font-weight: normal;
		    color: #2cace2;
		    text-align: left;
		    display: inline-block;
		    text-transform: capitalize;
		}
		.post-edit-link {
			font-weight: normal;
			color: #fab910;
		}
		.fa-external-link {
		    margin-left: 10px;
		}
	}
}

.content-area {
	.press-releases {
		background-color: @global-color-lt-grey;
		h2.text-left {
		    margin: 0;
		}
		h3 {
		    border-bottom: 1px solid #ccc;
		    font-weight: 400;
		    margin: 0;
		    padding: 0 0 1.95%;
		}
		.post-date {
			display: block;
		    font-weight:600;
			text-align: left;
		}
		
	
	}	
}


/***************************************************
 * 
 *  Button Styling
 * 
 **************************************************/

.fa.fa-pencil-square-o {
    margin-right: 4px;
}

.bgroup .btn {
    margin-left: 5px;
    margin-right: 5px;
}
.btn {
	text-transform: @btn-font-text-transform;
	&.btn-default {
		&.clear {
		    background-color: rgba(255, 255, 255, 0.01);
		    border-color: #fff;
		    color: white;
		    &:hover {
		    	background-color: rgba(255, 255, 255, 0.75);
		    	color: black;
		    }
		}
	}
	&.btn-default:hover {
	    background-color: @global-color-black;
	    border-color: @global-color-black;
	    color: @global-color-white;
	}
}

.request-btn {
	.btn.btn-primary:hover {
	    background-color: #d39904;
	    border-color: #b08004;
	    color: #ffffff;
	    background-image: none;
	}
}

.login-btn {
	margin-right: 15px;
	margin-left: 15px;
	.btn.btn-default:hover {
    	background-image: none;
    }
}

.btn-link {
    margin: 0;
    padding: 0;
}

.badges {
    margin-top: 6%;
}

/***************************************************
 * 
 *  Jumbotron Header
 * 
 **************************************************/

.site-main {
    margin-top: @navbar-height + @langbar-height;
}   
.site-hero {
    overflow: hidden;
    position: relative;
    margin-top: @navbar-height + @langbar-height;
    h1, p {
    	text-align: center;
    	margin: 0px auto;
    }
    h1 {
    	margin-bottom: 15px;
    	margin-top: 175px;
	}
	.jumbo-btn-group {
	    //margin: 5% 0 0 7%;
	    text-align: center;
	}
	.jumbotron {
		.btn-group.edit-post {
	    	text-align: center;
		}
		.container-fluid {
			max-width: 1366px;
		}
	}
	.jumbotron-img {
	    height: auto;
	    margin: 0 auto;
	   // max-width: 1920px;
	    width: 100%;
	}
}

.black h1, .black p {
    color: black;
}

.page-hero {
    position: relative;
	margin-top:75px;
    background-color: black;
    h1 {
    	margin-bottom: 30px;
    	margin-top: 55px;
	}
    p {
		font-weight: normal;
	}
	.jumbotron-img {
	    height: auto;
	    margin: 0 auto;
	    width: 100%;
	}
	.btn-group.edit-post {
		text-align: left;
	}
}

.section-hero .jumbotron p.excerpt {
    font-size: 16px;
}

.section-hero {
	position: relative;
	.jumbotron {
		.container-fluid {
		    margin-top: 12%;
		    text-align: center;
		}
			
	}
	.jumbotron-img {
	    height: auto;
	    margin: 0 auto;
	    width: 100%;
	}
	.wp-post-image {
		margin: 0px auto;
	}	
}


.carousel {
	.jumbotron {
	    z-index: 99;
	}
}
.carousel-control {
	z-index: 99;
}
.carousel-caption{
	bottom: 0;
    left: 0;
    padding-bottom: inherit;
    right: 0;
    top: 0;
	&.filter {
		background: none;
		background: -webkit-gradient(linear, left top, left bottom, from(rgba(16, 17, 19, 0.4)), color-stop(100%, rgba(16, 17, 19, 0.4)));
		background: -webkit-linear-gradient(top, rgba(16, 17, 19, 0.4), rgba(16, 17, 19, 0.4) 100%);
		background: linear-gradient(to bottom, rgba(16, 17, 19, 0.4), rgba(16, 17, 19, 0.4) 100%);
	}
}

.jumbotron {
	&.filter {
		background: none;
		background: -webkit-gradient(linear, left top, left bottom, from(rgba(16, 17, 19, 0.4)), color-stop(100%, rgba(16, 17, 19, 0.4)));
		background: -webkit-linear-gradient(top, rgba(16, 17, 19, 0.4), rgba(16, 17, 19, 0.4) 100%);
		background: linear-gradient(to bottom, rgba(16, 17, 19, 0.4), rgba(16, 17, 19, 0.4) 100%);
	}
}

.jumbotron {
	bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    background: none;
	.jumbo-btn-group {
		margin: 4% 0 0 0;
		.btn {
		    margin: 0 0.75%;
		}		
	}
	.jumbo-caption {
	    bottom: 0;
	    left: 0;
	    position: absolute;
	    right: 0;
	    top: 0;
	    width: 100%;
	    z-index: 999;
	}
	p {
		font-weight: normal;
		max-width: 65%;
	}
}

.section-hero {
	p {
		font-weight: 200;
	}
	.excerpt {
	    margin:0 auto 12.5px;
	    max-width: 1024px;
	    text-align: center;
	}

	h1 {
		margin-top: 0;
	}
	.page-header {
		border-bottom: none;
	}
	img-responsive {
		margin: 0px auto;
	}	
	.jumbo-btn-group {
	    text-align: center;
	    top: 50%;
	}
	.center-block {
	    margin-bottom: 25%;
	    margin-top: 25%;
	    max-width: 450px;
	  
	    p {
			font-weight: 200;
		}
		.jumbo-btn-group {
		    text-align: center;
		    top: 50%;
		}
	}
	.request-demo {
	    margin: 6% 0;
	    text-align: center;
	}
}
.section-hero {
	.jumbo-caption {
		max-width: 1366px;
		margin: 0px auto;
	}
	img.mobile-img {
		max-width: 90%;
		margin: 10% auto 0;
	}
	.jumbotron {
		
		.jumbo-btn-group {
			    margin: 0;
		}

		.opt-1 {
			top: 50%;
			bottom: 50%;	
			h1 {
			    text-align: center;
			}		
		}

		.opt-2 {
			top: 35%;
			bottom: 35%;
			h1 {
			    text-align: center;
			    margin: 0px 0px 30px;
			}
			p {
			    text-align: center;
			    margin: 0 auto 2%;
			}
			.jumbo-btn-group {
			    text-align: center;
			    top: 50%;	
			    .btn {
				    margin-left: 1%;
				    margin-right: 1%;
				}
			}			
		}
		.opt-3 {
			top: 20%;
			bottom: 20%;
			h1 {
			    text-align: center;
			    //margin-bottom: 5%;
			}
			p {
			    text-align: center;
			   	margin: 0px auto 2%;
			}
			.jumbo-btn-group {
			    text-align: center;
			    margin-top: 6%;
			    &.edit {
			    	 margin-bottom: 3%;
			    	 margin-top: 3%;
			    }	
			    .btn {
				    margin-left: 1%;
				    margin-right: 1%;
				}
			    
			}	
		}
		.opt-4 {
			bottom: auto;
		    left: 54%;
		    max-width: 500px;
		    right: auto;
		    top: 35%;
		    width: 100%;
		    background-color: rgba(244, 244, 243, 0.75);
			h1 {
			    text-align: left;
			   //page-header  margin-bottom: 6%;
			}
			p {
			    text-align: left;
			}
		}

	}
}


.product-section {
	&.lt-grey, &.white {
		padding-top: 4%;
		padding-bottom: 4%;
	}
	&.white-alt {
		padding-top: 4%;
		//padding-bottom: 4%;
	}
	&.lt-blue {
		padding-top: 4%;  
		padding-bottom: 4%;
	}
	.center-block {
	    margin-bottom: 23%;
	    margin-top: 23%;
	    max-width: 450px;
	}
	.excerpt {
	    margin-top: 3%;
	    text-align: center;
	}
	.jumbo-btn-group {
	    text-align: center;
	    &.edit {
		    margin-top: 3%;
		    top:0%;
		}
	}
	.img-responsive.wp-post-image {
	    margin: 0 auto;
	}
	
	p {
		max-width: 800px;
		width: 100%;
		margin: 0px auto
	}
}




/***************************************************
 * 
 *  Main Content Area
 * 
 **************************************************/
#main { position: relative;}
.single {
	.content-area {
		.sub-section {
			text-align: left;
			h1 {
			    margin-bottom: 1%;
			    margin-top: 0;
			}
		}
	}
	.posted-on {
	    color: #918d8d;
	    font-size: 14px;
	}
	post-edit-link {
		text-align: left;
	}
	.request-demo {
		text-align: center !important;
	}
}

.features-box {
	.row {
	    margin-bottom: @global-row-margin-bottom;
	    &:last-child {
	    	margin-bottom: 0;
	    }
	}
	.icon {
		float: left;
		margin: 0 7.555% 0 0;
		width: 45px;
		height: 45px;
		.svg {
	    	height: 45px;
	   }
	}
	.content {
		text-align: left;
	    float: left;
	    width: 80%;
	    p.excerpt {
	    	max-width: 100%;
	    	text-align: left;
	    	margin: 0 0 12.5px;
	    }
	    .btn-group.edit-post {
		    text-align: left;
		}
	}
	h1, .h1, h5,.h5 {
	    margin-top: 0;
	}
	.badge {
	    font-weight: 600;
	    margin: 0 3px;
	}
}

.no-risk h1, .no-risk p {
    color: #000;
}

.sub-section.white.solutions-menu {
    padding: 3% 8%;
	width: 100%;
	background-color: #f9f9f9;
	&.stick {
	    border-bottom: 1px solid #ececec;
	    padding: 1% 8%;
	    position: fixed;
	    top: 114px;
	    z-index: 9999;    
	}
}

.sub-section.client-services.white-alt {
    padding-bottom: 0;
}

.admin-bar .sub-section.solutions-menu.stick {
    top: 146px !important;
}



.jumpToWrapper {
    margin: 0 auto;

    text-align: center;
    width: 640px;
    .jumpTo {
	    float: left;
	    margin: 0 auto;
	    max-width: 320px;
	    width: 100%;
	}
}

.jumpTo {
	> a {
	    display: block;
	    float: left;
	}
	.svg {
	    height: 50px;
	}
	.h3 {
   		float: left;
    	margin-top: 11px;
    	padding-left: 5%;
	}
	.edit {
	    clear: both;
	    float: left;
	    text-align: center;
	    width: 100%;
	}
	
}

.solutions .RateManager p.excerpt {
    margin-top: 30px;
}

.solutions {
	.col-md-4 {
	    text-align: center;
	}
	.properties {
	    min-height: 350px;
	    > footer {
		    bottom: 0;
		    left: 0;
		    position: absolute;
		    right: 0;
		}
	}
	.section-title {
	    color: @global-color-black;
	    font-size: 18px;
	    margin: 3% auto 5%;
	}
	p {
	    margin-left: auto;
	    margin-right: auto;
	    max-width: 350px;
	    text-align: center;
	}
	
	.cta-link {
	    margin: 0 auto;
	    text-align: center;
	}
	&.lt-blue {
		margin-top: 0;
		padding-top:@global-pad-top;
		padding-bottom: @global-pad-bottom;
		.more-features {
		    margin-bottom: @global-pad-bottom;
		    p.excerpt {
		    	margin-top: 25px;
		    }
		    &:last-child {
		    	margin-bottom: 0;
		    }
		}

	}
	&.alt .row:first-child {
	    margin-bottom: 0;
	}
}
.content-area .col-md-3.recent-cposts {
	 h2 {
		border-bottom: 1px solid #ccc;
		padding-bottom: 2%;
		margin-bottom: 10%;
	}
	.location-list {
	    color: inherit;
	    padding: 0;
    	margin: 0;
	}
	.title-list {
    	margin: 5% 0 1%;
	}
	.inner-grid-list {
		margin-bottom: 10%;
	}
}
.success {
	.h5 a {
		color: white;
	}
	.location {
	    color: white;
	    padding: 0;
    	margin: 0;
	}
	
	.success-post {
		box-sizing: content-box;
		float: left;
		max-width: 100%;
		position: relative;
		width: 100%;
		.filter {
			position: absolute;
			bottom: 0;
			top: 0;
			height: 100%;
			width: 100%;
			padding:10px;
			background-color: #3F3E3E;
			z-index: 2;
			-moz-opacity: 0.25;
			-khtml-opacity: 0.25;
			opacity: 0.25;
			-ms-filter:~"progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
			filter: progid:DXImageTransform.Microsoft.Alpha(opacity=25);
			filter:alpha(opacity=25);
		}
		header {
		    bottom: 0;
		    left: 0;
		    padding: 10px;
		    position: absolute;
		    right: 0;
		    z-index: 20;
		}
		.h5 {
		    margin: 0 0 5px;
		    color: @global-color-white;
		    text-align:left;
		}
		p.excerpt {
			margin: 0;
			color: @global-color-white;
			text-align:left;
			max-width: 100%;
		}
	}
	.edit-post {
	    position: absolute;
	    right: 10px;
	    top: 5px;
	    width: 100px;
	    z-index: 5;
	}
	.play {
	    left: 50%;
	    margin-left: -33px;
	    margin-top: -33px;
	    position: absolute;
	    top: 50%;
	    z-index: 10;
	}
}

.mentions {
	h2 {
		margin: 0;
	}
}

.img-divider {
	.bground-img {
	    margin: 0 auto;
	    max-width: 100%;
	    width: 100%;
	}

}

.content-area {
	.sub-section {
		&.premium {
			h2,.h2 {
				margin-bottom: 6%;
			}
		}	
	}
}
.content-area {
	.request-demo {
		text-align: center;
		h3 {
			color: @global-color-white;
			margin-top: 0;
			margin-bottom: 30px;
			font-weight: normal;
		}
	}

	.prod-features {
		.btn-lg {
			text-align: center;
		}
	}

	.synced {
	    text-align: center; 
	}
	
	.client-services {
		&.white-alt, &.md-grey {
			//padding-bottom: 0;
			.excerpt {
				margin: 0 auto 12.5px;
			}
		}
		
	}
}
.content-area {
	.sub-section {
		&.error-404 {
			margin-top: 100px;
		}
	}
}
.content-area {
	.sub-section {
		&.default-page {
			margin-top: 100px;
			h1, p {
				text-align: left !important;
			}
		}
	}
}

.content-area {
	.sub-section {
		&.connect {
    		padding-top: 0;
		}
	}
}
.content-area {
	.sub-section {
		&.request-hero {
    		margin-top: 90px;
    		padding: 5% 8%;
		}
		&.request-content {
    		padding-top: 0;
		}
	}
}

.content-area {
	.sub-section {
		&.contact-hero {
    		margin-top: 100px;
		}
		&.contact-content {
    		padding-top: 0;
		}
	}
}

.search {
	.hentry {
		p, .excerpt {
			text-align:left;
		}
	}
}
.content-area {
	.hentry {
		.entry-header {
	    	overflow: auto;
	    	h2 {
				margin-bottom: 2%;
				text-align: left;
			}
		}
		.read-more {
		    font-size: 14px;
		    margin-left: 10px;
		    text-decoration: underline;
		}
		.entry-summary {
			.excerpt {
			    margin: inherit;
			    max-width: 80%;
			}			
		}
		.entry-footer {
		    font-size: 14px;
		    margin-top: 1.25%;
		}
	}
}

.content-area {
	.sub-section {
		&.premium {
			.row:first-child {
				margin-bottom: @global-pad-bottom;
			}
		}
	}
	
}

.link-cta {
	&.left-cta {
    	border-right: 1px solid #d5effc;
    	padding-right: 30px;
    }
    &.right-cta {
    	 border: none;
    	 padding-left: 30px;
    }
    &.top-cta {
    	border-bottom: 1px solid #d5effc;
    	margin-bottom: 6%;
    	padding-bottom: 3%;
    	    overflow: auto;
    	.content {
		    display: block;
		    float: left;
		    margin: 0 22% 3% 0;
		    width: 50%;
		}
		footer {
		    display: block;
		    float: left;
		}
		h1 {
			margin-bottom: 31px;
		}
    }
   	h1 {
   		font-size: 24px;
		font-weight: normal;
		margin: 0 0 @global-pad-bottom;
	}
	p {
		max-width: inherit;
		text-align: left;
		&:last-child {
			margin-bottom: 0;
		}
	}
	footer {
		a {
			margin-bottom: 15px;
		}
	}
}
.content-area {
	.sub-section {
		padding: @global-section-padding;
		.row {
			//background-color: pink;
		}
		.img-responsive {
		    margin: 0 auto;
		}
		.page-header {
			border: none;
			margin-bottom:2%;
		}
		h1 {
		    margin-top: 0;
		    &.text-center {
		    	max-width: 980px;
		    	margin: 0px auto 12.5px;
		    }
		}
		h2 {
			margin-bottom: 0;
			margin-top: 0;
		}
		.row {
			 margin-bottom: @global-pad-bottom;
			 &:last-child {
			 	margin-bottom: 0;
			 }
		}
		.excerpt {
		    margin: 0 auto 12.5px;
		    max-width: 80%;
		    text-align: center;
		}
		> p > .post-edit-link {
			text-align: center;
		}
	}
	.container-fluid {
		max-width: @global-max-width;
	}
	.lt-blue {
		background-color: @global-color-lt-blue;
		h1, h2, h3, h4, h5, p {
			color: @global-color-white;
		}

		&.two-cols {
			
		}
	}
	.lt-grey {
		background-color:@global-lt-grey-pg-bground;
	}
	.md-grey {
		background-color: @global-med-grey-pg-bground;
		color: @global-color-black;
		h1, h2, p {
			color: @global-color-black;
		}
	}
	.dark-grey {
		background-color: @global-request-demo-bground;
		color: @global-color-white;
		h1, h2, p {
			color: @global-color-white;
		}
	}
}

.regional-contacts {
	min-height: 300px;
	&:nth-child(2n+1) {
	    clear: both;
	}
	.h5 {
		border-bottom: 1px solid #979797;
		margin-right: 60px;
		padding-bottom: 10px;
		text-transform: uppercase;
	}
}

/*********************************************************
 * 
 * Bootstrap Panel Component Styling
 * 
 ********************************************************/

.panel {
	.panel-heading, .panel-footer {
	    border: none;
	}
	.panel-footer {
		p:last-child {
			margin-bottom: 0;
		}
	}
}

.panel {
	&.row {
		&.contact-items {
		margin: 0 0 2%;
   		padding: 2%;
	}
	}
}

/*********************************************************
 * 
 * Bootstrap Form Element Styling
 * 
 ********************************************************/

.checkbox label {
	font-size: 16px;
	margin-bottom: 3%;
}

.form-group {
	label {
		.fa.fa-asterisk {
		    color: red;
		    display: inline-block;
		    font-size: 8px;
		    margin: 5px;
		    vertical-align: top;
		}
	}	
}
  

/*********************************************************
 * 
 * Footer Nav Styling
 * 
 ********************************************************/
footer {
	.container-fluid {
		max-width: @global-max-width;
	}
	.sub-section {
	    padding: @global-section-padding;
	}
	.drk-grey {
		background-color: @global-footer-bground;
		color: @global-color-white;
	}
}

.footer-nav-main, .footer-nav-aux {
    margin: 0;
    overflow: auto;
    padding: 0;
    width: 100%;
    > li {
		display: table-cell;
		float: left;
		width: 33.333%;
	}
    a {
	    color:  @footer-link-color;
	    display: block;
	    padding: 5px 0;
	    text-align: left;
	    text-transform: uppercase;
    	&:hover {
    		color: @footer-link-color-hover;
    	}
    }
}


.interest {
	max-width: 736px;
	margin: 0 auto;
	.panel-title, .panel-body {
	    text-align: center;
	}
}

.footer-nav-aux {
	margin-top: 6%;
	    a {
	    color: @footer-link-color-hover;
	    display: block;
	    padding: 5px 0;
	    text-align: left;
    	&:hover {
    		color: @footer-link-color;
    	}
    }
}

.footer-widgets {
	.widget {
		&.right {
		    text-align: right;
		}
	}
}

.credits {
    margin-top: 3%;
    text-align: right;
}

.footer-logo {
    margin: 1% 0;
}
.admin-bar {
	.archive {
		.blog-header {
		    margin-bottom: 50px;
	    	margin-top: 75px;
		}
	}
}

.archive {
	.blog-header {
	    margin-bottom: 50px;
    	margin-top: 100px;
	}
	ul {
    	margin: 0;
	    padding: 0 0 0 15px;
	}
}
.bizIntel .col-md-offset-2.col-lg-2 {
    text-align: center;
}


.bizIntel .col-lg-4.text-center {
    padding-left: 5%;
    padding-right: 5%;
}

.compare-plans {
	padding-left: 30px;
    padding-right: 30px;
	article {
	    margin-bottom: 10%;
	}
    header {
    	overflow: auto;
    }
    .summary {
	    padding: 15px;
	    font-size: 18px;
	}
	h2 {
	    padding: 15px;
	}
	.icon.svg {
	    margin: 30px auto;
	}
	.options {
		margin: 0;
		padding: 0;
		list-style: none;
	    li {
		    background-color: #fbfbfb;
		    border-bottom: 1px solid #ebebeb;
		    min-height: 145px;
		    padding: 15px;
	    	&:last-child {
		    	border: none;
		    }
	    }
	    .check {
		    height: 40px;
		}
		p {
		    margin-bottom: 5px;
		}
		small, .small {
		    color: #8a8a8a;
		}
		   
	}
	footer {
	    margin-top: 15px;
	}
}
/***************************************************
 * 
 * scroll-to-top
 *
 ***************************************************/ 
 
.scroll-to-top {
	background: @global-color-lt-blue;
	background: rgba(0, 159, 227, 0.5);
	color: #FFF;
	bottom: 4%;
	cursor: pointer;
	display: none;
	position: fixed;
	right: 20px;
	z-index: 999;
	font-size: 16px;
	text-align: center;
	width: 40px;
	border-radius: 4px;
	-webkit-transition: background-color 0.3s linear;
	-moz-transition: background-color 0.3s linear;
	-o-transition: background-color 0.3s linear;
	transition: background-color 0.3s linear;
  	&:hover {
	  background: darken(@global-color-lt-blue, 15%);
	  opacity: .8;
	}
	.fa-angle-up {
    	font-size: 24px;
    	font-weight: 600;
    	line-height: 43px;
	}
}



/***************************************************
 * 
 * WordPress Content Area Styling WYSIWIG
 *
 ***************************************************/ 
.entry-content img {
    display: block;
    height: auto;
    max-width: 100%;
}
.alignleft {
	display: inline;
	float: left;
}

.alignright {
	display: inline;
	float: right;
}

.aligncenter {
	display: block;
	margin-right: auto;
	margin-left: auto;
}

blockquote.alignleft,
.wp-caption.alignleft,
img.alignleft {
	margin: 0.4em 1.6em 1.6em 0;
}

blockquote.alignright,
.wp-caption.alignright,
img.alignright {
	margin: 0.4em 0 1.6em 1.6em;
}

blockquote.aligncenter,
.wp-caption.aligncenter,
img.aligncenter {
	clear: both;
	margin-top: 0.4em;
	margin-bottom: 1.6em;
}

.wp-caption.alignleft,
.wp-caption.alignright,
.wp-caption.aligncenter {
	margin-bottom: 1.2em;
}


.social-icons a {
	color: @global-color-drk-grey;
	font-size: 22px;
	line-height: 40px;
	list-style: none;
	display: inline-block;
	text-align: center;
	height: 40px;
	width: 40px;
	margin-right: 5px;
	margin-bottom: 5px;
	border-radius: 20px;
	background-color: #DADADA;
	-webkit-transition: background-color  0.5s;
     -moz-transition: background-color  0.5s;
       -o-transition: background-color  0.5s;
          transition: background-color  0.5s;
}
#footer-area .social-icons a {
  margin-right: 7px;
  background-color: @global-color-white;
  
}

.social-icons {
	a.facebook:hover {
	  background-color: #4265b9 !important;
	}
	a.twitter:hover {
	  background-color: #55ACEE !important;
	}
	a.dribbble:hover {
	  background-color: #ea4c89 !important;
	}
	a.flickr:hover {
	  background-color: #ff0084 !important;
	}
	a.googleplus:hover {
	  background-color: #d62408 !important;
	}
	a.skype:hover {
	  background-color: #0bbff2 !important;
	}
	a.pinterest:hover {
	  background-color: #c31e26 !important;
	}
	a.linkedin:hover {
	  background-color: #005987 !important;
	}
	a.vimeo:hover {
	  background-color: #1bb6ec !important;
	}
	a.tumblr:hover {
	  background-color: #35506b !important;
	}
	a.youtube:hover {
	  background-color: #df3333 !important;
	}
	a.instagram:hover {
	  background-color: #F95B60 !important;
	}
	a.rss:hover {
	  background-color: #f39c12 !important;
	}
	a.foursquare:hover {
	  background-color: #2398C9 !important;
	}
	a.soundcloud:hover {
	  background-color: #F50 !important;
	}
	a.github:hover {
	  background-color: #4183C4 !important;
	}
	.fa-googleplus:before {
	  content: "\f0d5";
	}
	.fa-vimeo:before {
	  content: "\f194";
	}	
}

@media (min-width: 1401px) {
	.success {
		.success-post .wp-post-image {
			height: 322px; //233px;
		}
	}

}

@media (max-width: 1281px) and (min-width: 1025px) {
	.success {
		.success-post .wp-post-image {
			height: 249px; //233px;
		}
	}
	.page-hero h1 {
	    margin-bottom: 30px;
	    margin-top: 75px;
	}
	.grid-menu {
	    display: none;
	    position: absolute;
	    top: 0;
	    right: 0;
	    max-width: 22%;
	    margin: 0;
	    padding: 15px;
	    width: 100%;
	    z-index: 99;
	    background-color: #fff;
	    border: 1px solid #ccc;
	    bottom: 0;
	}
	.no-touch #mobileFilterBtn {
	    display: block;
	}
}
@media (max-width: 1024px) {
	.radio-inline + .radio-inline, .checkbox-inline + .checkbox-inline {
	    margin-top: 0;
	    margin-left: 0;
	}
	.jumbotron {
		.jumbo-btn-group {
			text-align: center;
			.btn {
				margin: 0 2% 6%;
				font-size: inherit;
				display: inline-block;
			}
		} 
		h1 {
			text-align: center;
			margin-top: 5%;
		}
		p {
			text-align: center;
			max-width: 85%;
			margin: 0px auto;
		}	
		.quote-link {
		    text-align: center;
		    padding: 0 0 25px 0;
		}
		.quote-title, .quote-subtitle {
			text-align: center;
			padding: 0 0 15px 0;
		}
	}
	
	.navbar-right {
	  margin-right: auto;
	}
	
	.success {
		.success-post .wp-post-image {
			height: 196px;
		}
	}
	
	.prod-features .content {
	  	text-align: left;
	  	float: left;
	  	width: 75%;
	}
	.content-area, footer {
		.sub-section {
			padding: 30px 15px;
		}
	}
	
	.section-hero {
		.center-block {
			margin-bottom: 15%;
			margin-top: 15%;
		}
		.jumbotron {
			.opt-1 h1 {
				top: 43%;
				bottom: 43%;
			}
			.opt-2 {
				p {
					top: 54%;
					padding: 0 6%;					
				}
				.jumbo-btn-group {
					text-align: center;
					top: 55%;
				}
			}
			.opt-4 {
				max-width: 450px;
				padding: 1%;
				left: auto;
				right: 2%;
			}
		}
	}
	
	.regional-hq {
		.panel-body {
		    padding: 15px;
		}
		.hq-image .h3 {
		    padding: 15px;
		    width: 100%;
		}
	}
	.jumpTo {
		text-align: center;
		> a {
		    display: block;
		    float: inherit;
		}
		.svg {
		    height: 35px;
		}
		.h3 {
		    float: inherit;
		    margin: 10px 0 0;
		    padding: 0;
		    font-size: 18px;
		}		
	}

	.grid {
	    width: 100%;
	}
	.grid {
		.gutter-sizer {
		    width: 2.5%;
		}
		.grid-item {
		    width: 100%;
		    max-width: 31.555%;
		    min-height: inherit;
		}
	}
	.grid-container {
		position: relative;
	}
	.success-stories .success-hdr {
	    margin-bottom: 3%;
	}
	
	.grid-menu {
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		max-width: 100%;
		margin: 0;
		padding: 0;
		width: 100%;
		z-index: 99;
		background-color: #fff;
		.inner-option-set {
			padding: 0;
		}
		.inner-grid-menu {
		    padding: 0;
		}
		
		.cat-parent h5 {
		    border-bottom: 1px solid #ccc;
		    padding: 12px;
		    background-color: #009FE3;
		    color: #fff;
		    margin: 0;
		}
		
		.cat-child {
		    border-bottom: 1px solid #009FE3;
		    a {
			    padding: 12px;
			    display: inline-block;
			}
		}
		.option-set {
			.cat-parent {
		    	margin-bottom: 0;
			}
			.reset {
    			overflow: auto;
   	 			margin: 25px;
			}			
		}
	}
}


@media (max-width: 980px) {
	#logo > a img {
	    max-width: 200px;
    	padding: 15px 0;
	}
	.job-link .col-sm-12 {
	    text-align: center;
	}
	.job-link a.btn {
	    margin-top: 5%;
	}
	body .regional-hq .panel {
	    min-height: 715px;
	}
	.section-hero .jumbotron .opt-3.black {
	    top: 0;
	    bottom: 0;
	    h1 {
	    	margin-top: 5%;
	    }
	}
	.page-hero h1 {
	    margin-bottom: 15px;
	}
	.carousel {
		h1 {
			margin-top: 30px;
    		margin-bottom: 15px;
    		font-size: 38px;
		}
		P {
		    font-size: 18px;
		    padding-left: 5%;
    		padding-right: 5%;
		}
		.btn {
		    margin-top: 7%;
		}
	}
	
	.jumbotron {
		.jumbo-btn-group {
			text-align: center;
			margin-top: 30px;
			.btn {
				margin: 0 2% 6%;
				font-size: inherit;
				display: inline-block;
			}
		} 
		h1 {
			text-align: center;
			font-size: 28px;
		}
		p {
			font-size: 18px;
			text-align: center;
		}	
	}
	.request-content {
		background-position: 0 -165px !important;
		.panel {
			margin-top: 6%;
		}
	}

	
	.content-area .sub-section .row:last-child {
	    margin-bottom: 0;
	}
	.prod-features {
		.features-box {
		  margin-bottom: 30px;
		  overflow: auto;
		}	
	}
	#propertyWebsites {
		.properties:last-child {
			width: 100%;
		}
	}
	.navbar-desktop {
		display: none;
	}
	.navbar .mobile .navbar-nav {
	    display: block;
	}
	
	div#logo {
		margin-left: 15px;
	}
	.solutions {
		.col-md-4 {
			margin-bottom: @global-row-margin-bottom;
		}
	}
	.success {
		.success-post .wp-post-image {
			height: auto;
		}
		.col-sm-12.col-md-6.videos {
		    margin-bottom: 30px;
		}
		.success .success-post.video {
		    float: inherit;
		    max-width: 776px;
		    margin: 0px auto;
		}
	}
	
	.content-area .col-md-3.recent-cposts .inner-grid-list {
	    margin-bottom: 10%;
	    text-align: center;
   }
	.mentions .col-md-2 {
		float: left;
		width: 33.3333%;
		padding-bottom: 30px;
	}
	
	.footer-nav-aux {
	  margin-top: 3%;
	  margin-bottom: 3%;
	}
	
	.content-area {
		.sub-section {
			.row {
			    margin-bottom: 30px;
			}
		}
	}
	.content-area {
		.sub-section.lt-blue .excerpt {
		  margin: 0 auto 6%;
		}
	}
	
	.link-cta {
		margin-bottom: 3% !important;
		&.top-cta .content {
		    display: block;
		    float: inherit;
		    margin: 2% 0;
		    width: 100%;
		}
		&.top-cta {
		    border-bottom: none;
		    margin-bottom: 0;
		    padding-bottom: 0;
		}
		&.top-cta footer {
		    display: block;
		    float:inherit;
		}
		&.left-cta {
		    border-right: none;
		    padding-right: 15px;
		}
		&.right-cta {
		    border: none;
		    padding-left: 15px;
		}
	}
	.link-cta.left-cta.border, .link-cta.top-cta.border {
	    border-bottom: 1px solid #d5effc;
	    padding-bottom: 3%;
	    margin-bottom: 4%;
	}

}

@media (max-width: 768px) {


	.small-screen {
		display: none !important;
	}
	.visible-xs-block {
		display: block !important;
	}
	
	.compare-plans {
	    margin-bottom: 60px;
	}
		
	.jumbotron {
		.jumbo-btn-group .btn {
			margin: 0 auto 6%;
			width: 80%;
			font-size: inherit;
			display: block;
		}
		h1 {
		    text-align: center;
		    font-size: 38px;
		    margin-left: 5%;
		    margin-right: 5%;
		    margin-top: 25%;
		}
		p {	
		    text-align: center;
		    margin: 5% 0 10%;
		    padding: 0;
		    max-width: 100%;
		}
		.quote-title p {
		    margin: 0;
		}
	}
	.request-content {
	    background-position: 0px -225px !important;
	}
	.premium .request-demo {
	  margin-top: 5%;
	}
	
	.photo-tiles {
		.col-lg-12 {
		    padding-left: 0;
		    padding-right: 0;
		}		
	}

	.people-tile {
	    max-width: 25%;
	}
	.sub-section.white.solutions-menu {
	    padding: 2% 1%;
	}
	
	.jumpToWrapper .jumpTo {
	    max-width: 50%;
	}
		
	.job-link h2.text-left {
	    text-align: center;
	    padding-bottom: 5%;
	}
	.job-link a.btn.btn-lg {
	    text-align: center;
	    margin: 0px auto;
	    display: block;
	    max-width: 320px;
	}
	.content-area .btn-lg {
	  text-align: center;
	  padding: 9px 27px;
	}
	.section-hero .center-block {
	    margin-bottom: 10%;
	    margin-top: 10%;
	    max-width: 100%;
	}
	.section-hero {
		.jumbotron {
			.opt-1 {
				top: 44%;
				bottom: 44%;
				h1 {
					margin: 0;
				}
			}
			.opt-2 {
				top: 5%;
				bottom: 5%;
				p {
					top: 54%;
					padding: 0 6%;
									
				}
				
				h1 {
					margin: 6% 0;
				}
				.jumbo-btn-group .btn {
				    margin: 0 2% 2%;
					width: auto;
					display: inline-block;
				}
			}
			.opt-3 {
				top: 5%;
				bottom: 5%;
				h1 {
					margin: 6% 0 1%;
				}
				p {
					margin: 0;
					padding-left: 15px;
					padding-right: 15px;	
				}
				.jumbo-btn-group {
				    margin-top: 4%;
				    .btn {
					    margin: 0 2% 2%;
						width: auto;
						display: inline-block;
					}
				}
			}
			.opt-4 {
				position: relative;
				left: auto;
				right: auto;
				max-width: 100%;
				padding: 6%;
				p, h1 {
					text-align: center;
					margin-top: 6%;
				}
			}
		}
	}
	#contentManagement .jumbotron {
		position: relative;
	}
	.product-section.lt-blue.alt {
		padding-top: 3%;
		margin-top: 0;
	}
	
	
	.solutions {
		.properties {
			  min-height: inherit;
			  margin-bottom: 10%;
			> footer {
	  			bottom: auto;
	  			left: auto;
	  			position: relative;
	  			right: auto;
			}
			&:last-child {
				margin-bottom: 0;
			}			
		}
	}
	.content-area .sub-section .excerpt {
		max-width: 100%;
	}
	.section-hero .excerpt {
	    max-width: 100%;
	}
	.content-area .sub-section h1.text-center {
	    margin-top: 5%;
	}
	.content-area {
		.contact-content {
			.contact-items {
				margin-bottom: 6%;
				&:last-child {
					margin-bottom: 6%;
				}
				h4 {
					text-align: center;
				}
			}
		}
	}
	
	.story-stats {
		.quote {
			.quote-subtitle {
			    padding-left:inherit;
			}	
		}
		.inner-div {
		    padding: 30px 0 30px;
		    text-align: center;
		}
	}
	.story .wp-post-image, .video .wp-post-image {
		min-height: inherit;
	}
	.site-footer {
		.col-sm-12 {
			margin-bottom: 6%;
		}		
	}
}

@media (max-width: 480px) {
	.success .play {
	    display: none;
	}
	body {
		font-size: 16px;
	}
	h1, .h1 {
		font-size: 28px;
	}
	h2, .h2 {
		font-size: 22px;
	}
	h3, .h3 {
		font-size: 20px;
	}
	h4, .h4 {
		font-size: 18px;
	}
	h5, .h5 {
		font-size: 16px;
	}
	p.excerpt {
		font-size: 14px !important;
	}
	.navbar-fixed-top, .navbar-fixed-bottom {
	 	position: relative;
	}
	.site-hero {
	    margin-top: 0;
	}
	.page-hero {
	    margin-top: 0;
	}
	.site-main {
	    margin-top: 0;
	}
	.navbar {
    	margin-bottom: 0;
    }

	.bgroup {
		.btn {
	    	margin-bottom: 10px;
	    	&:last-child {
	    		margin-bottom: 0;
	    	}
		}
	}
	
	.regional-hq .panel {
	   min-height: inherit;
	}
	.jumbo-btn-group a.btn.btn-info.btn-lg {
	    margin-bottom: 30px;
	}
	.jumpToWrapper {
	    margin: 0 auto;
	    overflow: auto;
	    text-align: center;
	    width: inherit;
	    .jumpTo {
		    max-width: 50%;
		    &:first-child {
		    	margin-bottom: 3%;
		    }
		    .h3 {
		    	font-size: 16px;
		    	text-align: center;
		    	float: none;
		    }
		    > a {
			    display: block;
			    float: none;
			}
		}
	}
	.carousel {
		h1 {
			font-size: 28px;
			text-align: center;
			margin: 8%;
		}
	}
	.jumbotron {
		.jumbo-btn-group .btn {
			margin: 0 auto 6%;
			width: 80%;
			font-size: inherit;
			display: block;
		}
		h1 {
			font-size: 28px;
			text-align: center;
			margin: 15% 0 5%;
		}
		p {
			font-size: inherit;
			text-align: center;
			margin-bottom: 8%;
		}	
	}
	.jumbotron .quote-title p {
	    margin: 0;
	    font-size: 16px;
	}
	.jumbotron .quote-title, .jumbotron .quote-subtitle {
	    text-align: center;
	    padding: 0 0 5% 0;
	}
	.request-content {
	    background-position: 0px -275px !important;
	}
	.people-tile {
	    max-width: 50%;
	}
	.prod-features {
		.content {
			width: 78%;
		}
	}
	.features-box .content {
	    width: 100%;
	}
	.section-hero.no-risk .jumbotron .opt-2 h1 {
	  margin-top: 0;
	  margin-bottom: 0;
	}
	
	.bizIntel {
		text-align: center;
		.col-xs-2.col-sm-1.col-md-2.col-lg-2 {
		    width: 100%;
		    margin-bottom: 10%;
		}
		.col-xs-10.col-sm-7.col-md-6.col-lg-6 {
		    width: 100%;
		    margin-bottom: 10%;
		}
	}
	.tab-wrapper {
		.nav-tabs {
			max-width: 100%;
   	 		width: 100%;
			li {
				display: inline;
				margin: 0;
				max-width: inherit;
				width: 100%;
				&:last-child {
				  margin-left: 0;
				}
				a {
					padding: 15px 15px;
					border-top: none;
					background-color: #bbb;
				}
				&.active {
					a {
					    background-color: #009FE3;
					    border-top: none;
					    color: #fff;
					}
				}
				&.active a:hover {
				    //border-bottom: 5px solid #008fcc;
				    border-top: none;
				}
				&:first-child {
		    	border-right: none;
				border-left: none;
				}
				&:last-child {
			    	border-right: none;
					border-left: none;
				}
			}			
		}
	}
	
	.tab-content {
		&.about-tab-panels {
			.tab-pane {
				.col-xs-6 {
				    width: 100%;
				}
			}
		}
	}
	.success {
		.col-xs-6 {
			width: 100%;
			margin-bottom: 30px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	.mentions {
		img.img-responsive {
			max-width: 50%;
			margin: 0px auto 10%;
		}
	}
	
	
	.section-hero {
		.jumbotron {
			.opt-1, .opt-2 {
				top: 5%;
				bottom: 5%;
				h1 {
					text-align: center;
			  		margin-bottom: 5%;
					margin-top: 5%;
				}
			}
		}
		.jumbo-caption {
			padding: 0 4%;
 		 	a.btn {
			  margin-bottom: 6%;
			  padding: 9px 27px;;
			}
		}
		.jumbo-btn-group {
			display: none;
		}
	}
	.solutions {
		.col-md-4 {
			margin-bottom: @global-row-margin-bottom;
			width: 100%;
		}
		.svg {
		    height: 50px;
		    width: 100%;
		    max-width: 100px;
		}
				
	}

	.cta-link .btn.btn-info.btn-lg {
		padding: 12px 16px;
		font-size: 16px;
		line-height: 1.3333333;
		border-radius: 2px;
	}
	
	.grid {
		.gutter-sizer {
		    width: 4%;
		}
		max-width: 360px;
    	width: 100%;
    	float: inherit;
    	margin: 0px auto;
		.grid-item {
		    width: 100%;
		    max-width: 100%;
		    min-height: inherit;
		}
	}

	.link-cta {
		&.left-cta {
	    	width: 100%;
	    	padding-bottom: 15px;
	    	padding-right: 15px;
	    	margin-bottom: 30px;
	    	border-right: none;
	    	border-bottom: 1px solid #fff;
		}
		&.right-cta {
			width: 100%;
			padding-left: 15px;
		}		
	}
	.regional-contacts {
	    min-height: inherit;
	}
	a.btn.btn-primary.btn-lg, a.btn.btn-info.btn-lg, .btn.btn-default.btn-lg {
	    font-size: inherit;
	}
	.footer-nav-main > li {
		width: 50%;
	}
	.footer-nav-aux > li {
		width: 50%;
	}
	
}

@media (max-width: 360px) {
body {
		font-size: 12px;
	}
	h1, .h1 {
		font-size: 24px !important;
	}
	h2, .h2 {
		font-size: 20px !important;
	}
	h3, .h3 {
		font-size: 18px !important;
	}
	h4, .h4 {
		font-size: 16px !important;
	}
	h5, .h5 {
		font-size: 14px !important;
	}
	p, p.excerpt {
		font-size: 12px !important;
	}

	.jumpTo .svg {
	    height: 24px;
	}

	.svg {
		height: 50px;
	}
	section#multiLanguageSupport {
		  margin-bottom: 10%;
	}
	
	.jumpToWrapper .jumpTo .h3 {
	    font-size: 14px;
	}
	
	.jumpToWrapper .jumpTo .svg {
	    height: 30px;
	}
	.grid {
		.grid-item {
		    width: 100%;
		    max-width: 360px;
		    min-height: inherit;
		}
	}
	.carousel {
		p {
			font-size: inherit;
		}
	}
	.jumbotron {
		.jumbo-btn-group .btn {
			margin: 0 auto 6%;
			width: 80%;
			font-size: inherit;
			display: block;
		}
	}
	.cta-link .btn.btn-info.btn-lg {
		padding: 12px 16px;
		font-size: 16px;
		line-height: 1.3333333;
		border-radius: 2px;
	}

	.section-hero {
		h1 {
			margin-top: 8%;
		}
		.excerpt {
			margin: 8% auto;
		}
		.request-demo {
  			margin: 16% 0;
		}		
	}
	.sub-section.white.solutions-menu {
	    padding: 6% 1%;
	}
	.content-area {
		.sub-section {
	  		padding: 8% 4.5%;
	  		.excerpt {
				max-width: 100%;
			}
		}
	}
}