/* xxx-xxx

 * Booking-suite-theme syling
 * @author Matt Peternell| http://mattpeternell.net
 * @package upBootWP 0.1
 *
 */

@global-color-white: #fff;
@global-color-lt-blue: #009EE6;
@global-color-med-grey: #4A4A4A;
@global-color-drk-grey: #3B3B3B;

@global-section-padding:  3.5555% 8%;
@global-max-width: 1366px;

@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,400italic,600italic');

.admin-bar {
	.navbar-fixed-top {
	    top: 32px;
	    z-index: 1030;
	}
}

.site-header {
    overflow: auto;
}


/***************************************************
 * 
 *  Jumbotron Header
 * 
 **************************************************/


.jumbotron {
    background-color: #ccc;
	.container-fluid {
	    max-width: @global-max-width;
	}
}


/***************************************************
 * 
 *  Main Content Area
 * 
 **************************************************/

.content-area {
	.sub-section {
		padding: @global-section-padding;
		.col-md-12, .col-md-4, .col-md-8  {
		    background-color: #ccc;
		}
	}
	.container-fluid {
		max-width: @global-max-width;
	}
	.white {
	}
	.lt-blue {
		background-color: @global-color-lt-blue;
		h1, h2, h3, h4, h5, p {
			color: @global-color-white;
		}
		.col-md-6 {
		    background-color: #ccc;
		    border-right: 1px solid #fff;
		    &:first-child {
		    	 padding-right: 4%;
		    }
		    &:last-child {
		    	 border: none;
		    	 padding-left: 4%;
		    }
		}
	}
	.md-grey {
		background-color: @global-color-med-grey;
	}
}

footer {
	.container-fluid {
		max-width: @global-max-width;
	}
	.sub-section {
	    padding: @global-section-padding;
	}
	.drk-grey {
		background-color: @global-color-drk-grey;
		color: @global-color-white;
		.col-md-12, .col-md-4, .col-md-8  {
		    background-color: #ccc;
		}
	}
}


/* scroll-to-top
----------------------------------------------------
*/
.scroll-to-top {
  background: #363636;
  background: rgba(100, 100, 100, 0.4);
  color: #FFF;
  bottom: 4%;
  cursor: pointer;
  display: none;
  position: fixed;
  right: 20px;
  z-index: 999;
  font-size: 16px;
  text-align: center;
  line-height: 40px;
  width: 40px;
  border-radius: 4px;
  -webkit-transition: background-color 0.3s linear;
  -moz-transition: background-color 0.3s linear;
  -o-transition: background-color 0.3s linear;
  transition: background-color 0.3s linear;
}
.scroll-to-top:hover {
  background: #DA4453;
  opacity: .8;
}
