@import url('../bootstrap/less/variables.less');

/***************************************************
 * 
 *  Stories - Isotope/packery JS styling
 * 
 **************************************************/

#mobileFilterBtn { display: none;}

.success-stories {
	background-color: @global-med-grey-pg-bground;
	padding-bottom: 3%;
    padding-top: 3%;
    
	#mobileFilterBtn {
		//smargin-top: 22px;
	}
	.success-hdr {
	    margin-bottom: 3%;
	    //overflow: auto;
	    h2 {
	    	margin: 0;
	    }
	}
}

.grid-menu {
	float: left;
	max-width: 21%;
	min-height: 300px;
	width: 100%;
	margin-left: 30px;
	
	.option-set {
		list-style: none;
		padding: 0;
		li {
		    text-transform: capitalize;
		}
		
		.count {
	    	display: inline-block;
	    	font-size: 12px;
	    	margin-left: 5px;
		}
		.reset {
		    overflow: auto;
		    margin-bottom: 30px;

		}
		.cat-parent {
		    margin-bottom: 15px;
		}		
	}
	.cat-parent {
		h5 {
		    border-bottom: 1px solid #ccc;
		    padding-bottom: 11px;
		}
	}

	.selected {
	    color: @global-color-drk-blue;
	    font-weight: 600;
	    text-decoration: underline;
	}
	.inner-option-set {
		list-style: none;
    	margin: 0;
    	padding: 15px 0;
	}
}

/* ---- grid ---- */

.grid {
	max-width: 1024px;
	width: 100%;
	float: left;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-item {
	position: relative;
  	float: left;
  	width: 240px;
  	//min-height: 275px;
  	background: #fff;
  	z-index: 1;
  	.inner-grid {
		//background-color: #f5f5f5;
		margin: 15px;
		min-height: 145px;
	}
  	.featured, .case-study {
	    padding: 10px 13px;
	    background-color: @global-color-lt-blue;
	    color: @global-color-white;
	    font-size : @font-size-small;
	    a {
	    	color: @global-color-white;
	    }
	}
	.case-study {
	    left: 0;
	    position: absolute;
	    right: 0;
	    top: 0;
	   .fa {
		    float: right;
		    font-size: 16px;
		    padding: 0 5px;
		}
	}
	.title {
	    margin-bottom: 0;
	}
	p.location {
		font-size : @font-size-small;
		color: lighten(@gray-base, 30%);
	}
	.description, .excerpt, .case-study {
	    font-size:  @font-size-small;
	}
	a.read-more {
	    font-size:  @font-size-small !important;
	}
	.tag-list {
	    list-style: outside none none;
	    margin: 0;
	    padding: 0;
	    > li {
		    display: inline;
		    font-size: 12px;
		    a:after{
			    content: ",";
			    color:black;
			}
		}
		> li:last-child {
			a:after{
		    	content: inherit;
			}
		}
			 
	}
}

.grid-item-width2 { 
	width: 240px; 
}
.grid-item-height2 { 
	min-height: 300px;
 }

.gutter-sizer { width: 2%; }

.prev-next-posts { margin-top: 6%;}
