/* xxx-xxx

 * Booking-suite-theme syling
 * @author Matt Peternell| http://mattpeternell.net
 * @package upBootWP 0.1
 *
 */
@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,400italic,600italic');
/***************************************************
 * 
 *  WP CSS Class Name styling
 * 
 **************************************************/
.post-navigation {
  margin: 6% auto;
}
.post-navigation .nav-next {
  text-align: right;
}
.admin-bar .navbar-fixed-top {
  top: 32px;
  z-index: 1030;
}
.admin-bar .site-hero,
.admin-bar .page-hero {
  margin-top: 97px;
}
.admin-bar.single .site-main {
  margin-top: 82px;
}
.revise {
  margin-left: 10px;
}
p {
  margin: 0 0 16px;
}
/***************************************************
 * 
 *  Nav Bar
 * 
 **************************************************/
.language-bar {
  background-color: #001b46;
}
.language-bar .language-menu {
  color: #fff;
  font-size: 12px;
  padding-bottom: 0.25%;
  padding-top: 0.25%;
}
.language-bar .fa.fa-language {
  margin-right: 10px;
}
.language-bar .fa.fa-angle-down {
  margin-left: 10px;
}
.navbar-desktop {
  float: right;
  margin: 0;
  padding: 1.2% 0;
  width: auto;
}
.navbar .mobile .navbar-nav {
  margin: 0 -15px;
  display: none;
}
.navbar .mobile li {
  background-color: #345e97;
  border-bottom: 1px solid #486ea1;
}
.navbar .mobile li a {
  padding: 20px 40px;
  font-weight: normal;
  font-size: 18px;
}
.navbar .mobile .login-btn {
  background-color: #009fe3;
  margin: 0;
  border-radius: 0;
}
.navbar .mobile .login-btn a {
  border: none;
  text-align: left;
}
.navbar .mobile .request-btn {
  margin: 0;
}
.navbar .mobile .request-btn a {
  border-radius: 0;
  text-align: left;
}
.navbar .container-fluid {
  max-width: 1366px;
}
.navbar .nav > li > a {
  text-transform: uppercase;
}
.navbar-collapse.collapse.in {
  padding-bottom: 0;
  padding-top: 0;
}
.navbar-inverse .navbar-toggle {
  color: #ffffff;
}
#logo > a img {
  margin-top: 27px;
  max-width: 150px;
  width: 100%;
}
/***************************************************
 * 
 *  Images and SVG Styling
 * 
 **************************************************/
.svg {
  height: 40px;
  width: 40px;
}
/***************************************************
 * 
 *  Breadcrumb Styling
 * 
 **************************************************/
.breadcrumb {
  margin-bottom: 0px;
}
/***************************************************
 * 
 *  Tab Styling
 * 
 **************************************************/
.tab-wrapper {
  background-color: #f9f9f9;
}
.tab-wrapper .nav-tabs {
  margin: 0 auto;
  max-width: 400px;
  width: 100%;
}
.tab-wrapper .nav-tabs a {
  color: #3c3c3c;
  font-weight: 600;
  padding: 10px 60px;
  -webkit-transition: background 300ms ease-in;
  -moz-transition: background 300ms ease-in;
  -ms-transition: background 300ms ease-in;
  -o-transition: background 300ms ease-in;
  transition: background 300ms ease-in;
}
.tab-wrapper .nav-tabs a:hover {
  border-bottom: 5px solid #ffffff;
}
.tab-wrapper .nav-tabs li {
  display: inline-block;
  margin: 0;
  max-width: 185px;
  width: 100%;
}
.tab-wrapper .nav-tabs li.active a {
  border-bottom: 5px solid #4a4a4a;
}
.tab-wrapper .nav-tabs li.active a:hover {
  border-bottom: 5px solid #4a4a4a;
}
.tab-wrapper .nav-tabs li:last-child {
  margin-left: 20px;
}
/***************************************************
 * 
 *  Button Styling
 * 
 **************************************************/
.fa.fa-pencil-square-o {
  margin-right: 4px;
}
.btn {
  text-transform: uppercase;
}
.btn.btn-default.clear {
  background-color: rgba(255, 255, 255, 0.01);
  border-color: #fff;
  color: white;
}
.btn.btn-default.clear:hover {
  background-color: rgba(255, 255, 255, 0.75);
  color: black;
}
.btn.btn-default:hover {
  background-color: #3c3c3c;
  border-color: #3c3c3c;
  color: #ffffff;
}
.request-btn .btn.btn-primary:hover {
  background-color: #d39904;
  border-color: #b08004;
  color: #ffffff;
  background-image: none;
}
.login-btn {
  margin-right: 15px;
  margin-left: 15px;
}
.login-btn .btn.btn-default:hover {
  background-image: none;
}
.btn-link {
  margin: 0;
  padding: 0;
}
/***************************************************
 * 
 *  Jumbotron Header
 * 
 **************************************************/
.site-hero {
  overflow: hidden;
  position: relative;
  margin-top: 72px;
}
.site-hero h1,
.site-hero p {
  text-align: center;
}
.site-hero h1 {
  margin-bottom: 10px;
}
.site-hero .jumbo-btn-group {
  margin: 5% 0 0 7%;
  text-align: center;
}
.site-hero .jumbotron .container-fluid {
  margin-top: 10%;
}
.site-hero .jumbotron .jumbo-btn-group {
  margin: 4% 0 0 0;
}
.page-hero {
  overflow: auto;
  position: relative;
  margin-top: 90px;
  background-color: black;
}
.page-hero h1 {
  margin-bottom: 24px;
}
.page-hero p {
  font-weight: normal;
  max-width: 475px;
}
.page-hero .jumbotron-img {
  height: auto;
  margin: 0 auto;
  max-width: 1920px;
  width: 100%;
}
.section-hero {
  position: relative;
}
.section-hero .jumbotron .container-fluid {
  margin-top: 12%;
  text-align: center;
}
.section-hero .jumbotron-img {
  height: auto;
  margin: 0 auto;
  max-width: 1920px;
  width: 100%;
}
.jumbotron.filter {
  background: none;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(16, 17, 19, 0.4)), color-stop(100%, rgba(16, 17, 19, 0.4)));
  background: -webkit-linear-gradient(top, rgba(16, 17, 19, 0.4), rgba(16, 17, 19, 0.4) 100%);
  background: linear-gradient(to bottom, rgba(16, 17, 19, 0.4), rgba(16, 17, 19, 0.4) 100%);
}
.jumbotron {
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  background: none;
}
.jumbotron .jumbo-btn-group {
  margin: 5% 0 0 0;
}
.jumbotron .jumbo-btn-group .btn {
  margin-right: 1.5%;
}
.jumbotron .jumbo-caption {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 999;
}
.jumbotron p {
  font-weight: normal;
}
.section-hero h1,
.section-hero .h1 {
  font-size: 38px;
}
.section-hero p {
  font-size: 18px;
  font-weight: 200;
}
.section-hero .excerpt {
  margin-top: 3%;
  text-align: center;
}
.section-hero .container-fluid h1 {
  margin-top: 6%;
}
.section-hero .container-fluid img-responsive {
  margin: 0px auto;
}
.section-hero .jumbo-btn-group {
  text-align: center;
  top: 50%;
}
.section-hero .center-block {
  margin-bottom: 25%;
  margin-top: 40%;
  max-width: 450px;
}
.section-hero .center-block h1,
.section-hero .center-block .h1 {
  font-size: 38px;
}
.section-hero .center-block p {
  font-size: 18px;
  font-weight: 200;
}
.section-hero .center-block .jumbo-btn-group {
  text-align: center;
  top: 50%;
}
.section-hero .jumbo-caption {
  max-width: 1366px;
  margin: 0px auto;
}
.section-hero img.mobile-img {
  max-width: 90%;
  margin: 10% auto 0;
}
.section-hero .jumbotron .black > h1,
.section-hero .jumbotron .black > p {
  color: black;
}
.section-hero .jumbotron .jumbo-btn-group {
  margin: 0;
}
.section-hero .jumbotron .opt-1 {
  top: 50%;
  bottom: 50%;
}
.section-hero .jumbotron .opt-1 h1 {
  text-align: center;
}
.section-hero .jumbotron .opt-2 {
  top: 35%;
  bottom: 35%;
}
.section-hero .jumbotron .opt-2 h1 {
  text-align: center;
  margin-bottom: 6%;
}
.section-hero .jumbotron .opt-2 p {
  text-align: center;
}
.section-hero .jumbotron .opt-2 .jumbo-btn-group {
  text-align: center;
  top: 50%;
}
.section-hero .jumbotron .opt-2 .jumbo-btn-group .btn {
  margin-left: 1%;
  margin-right: 1%;
}
.section-hero .jumbotron .opt-3 {
  top: 20%;
  bottom: 20%;
}
.section-hero .jumbotron .opt-3 h1 {
  text-align: center;
  margin-bottom: 5%;
}
.section-hero .jumbotron .opt-3 p {
  text-align: center;
  margin-bottom: 3%;
}
.section-hero .jumbotron .opt-3 .jumbo-btn-group {
  text-align: center;
  margin-top: 6%;
}
.section-hero .jumbotron .opt-3 .jumbo-btn-group.edit {
  margin-bottom: 3%;
  margin-top: 3%;
}
.section-hero .jumbotron .opt-3 .jumbo-btn-group .btn {
  margin-left: 1%;
  margin-right: 1%;
}
.section-hero .jumbotron .opt-4 {
  bottom: auto;
  left: 54%;
  max-width: 500px;
  right: auto;
  top: 35%;
  width: 100%;
  background-color: rgba(244, 244, 243, 0.75);
}
.section-hero .jumbotron .opt-4 h1 {
  text-align: left;
  margin-bottom: 6%;
}
.section-hero .jumbotron .opt-4 p {
  text-align: left;
}
.product-section.lt-grey,
.product-section.white {
  padding-top: 4%;
  padding-bottom: 4%;
}
.product-section.white-alt {
  padding-top: 4%;
}
.product-section.lt-blue {
  padding-top: 4%;
  padding-bottom: 4%;
}
.product-section .center-block {
  margin-bottom: 23%;
  margin-top: 23%;
  max-width: 450px;
}
.product-section .excerpt {
  margin-top: 3%;
  text-align: center;
}
.product-section .jumbo-btn-group {
  text-align: center;
}
.product-section .jumbo-btn-group.edit {
  margin-top: 3%;
  top: 0%;
}
.product-section .img-responsive.wp-post-image {
  margin: 0 auto;
}
.product-section p {
  max-width: 800px;
  width: 100%;
  margin: 0px auto;
}
/***************************************************
 * 
 *  Main Content Area
 * 
 **************************************************/
.prod-design .row {
  margin-bottom: 6%;
}
.prod-design .row:last-child {
  margin-bottom: 0;
}
.prod-design .row .text-center {
  margin-bottom: 6%;
}
.prod-design .icon {
  float: left;
  margin: 0 10px 0 0;
  width: 45px;
  height: 45px;
}
.prod-design .content {
  float: left;
  width: 85%;
}
.prod-design .h5 {
  margin-top: 0;
}
.prod-design .badge {
  font-weight: 600;
  margin: 0 3px;
}
.solutions .col-md-4 {
  text-align: center;
}
.solutions .section-title {
  color: #3c3c3c;
  font-size: 18px;
  font-weight: 600;
  margin: 3% auto 5%;
}
.solutions p {
  margin: 0 auto;
  max-width: 250px;
  text-align: center;
}
.solutions .cta-link {
  margin: 6% auto 0;
  text-align: center;
}
.solutions.lt-blue {
  margin-top: 0;
  padding-top: 6%;
  padding-bottom: 6%;
}
.solutions.lt-blue p.excerpt {
  max-width: 600px;
  margin-bottom: 6%;
}
.solutions.lt-blue .svg {
  color: #fff;
}
.story .wp-post-image,
.video .wp-post-image {
  display: block;
  /* min-height: 321px; */
  max-width: 100%;
  height: 100%;
}
.success h2 {
  margin-bottom: 45px;
}
.success .success-content {
  box-sizing: content-box;
  float: left;
  max-width: 100%;
  position: relative;
  width: 100%;
}
.success .success-content .filter {
  position: absolute;
  bottom: 0;
  top: 0;
  height: 100%;
  width: 100%;
  padding: 10px;
  background-color: #3F3E3E;
  z-index: 2;
  -moz-opacity: 0.25;
  -khtml-opacity: 0.25;
  opacity: 0.25;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=25);
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=25);
  filter: alpha(opacity=25);
}
.success .success-content header {
  bottom: 0;
  left: 0;
  padding: 10px;
  position: absolute;
  right: 0;
  z-index: 20;
}
.success .h5 {
  margin: 0 0 5px;
  color: #ffffff;
}
.success p {
  margin: 0;
  color: #ffffff;
}
.success .inner {
  margin-top: 30px;
}
.success .cta-link {
  margin: 6% auto 0;
  text-align: center;
}
.success .edit-btn {
  position: absolute;
  right: 10px;
  top: 5px;
  z-index: 5;
}
.success .play {
  left: 50%;
  margin-left: -33px;
  margin-top: -33px;
  position: absolute;
  top: 50%;
  z-index: 10;
}
.mentions h2 {
  margin-bottom: 45px;
}
.mentions .cta-link {
  margin: 6% auto 0;
  text-align: center;
}
.img-divider {
  max-width: 1920px;
}
.request-demo h3 {
  color: #ffffff;
  margin-bottom: 30px;
  font-weight: normal;
}
.content-area .sub-section {
  padding: 3.5555% 8%;
}
.content-area .container-fluid {
  max-width: 1366px;
}
.content-area .lt-blue {
  background-color: #009fe3;
}
.content-area .lt-blue h1,
.content-area .lt-blue h2,
.content-area .lt-blue h3,
.content-area .lt-blue h4,
.content-area .lt-blue h5,
.content-area .lt-blue p {
  color: #ffffff;
}
.content-area .lt-blue h1 {
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 3%;
}
.content-area .lt-blue .col-md-6:first-child {
  padding-right: 4%;
}
.content-area .lt-blue .col-md-6:last-child {
  border: none;
  padding-left: 4%;
}
.content-area .lt-grey {
  background-color: #f9f9f9;
}
.content-area .md-grey {
  background-color: #4a4a4a;
  text-align: center;
  color: #ffffff;
}
.content-area .md-grey h1,
.content-area .md-grey h2,
.content-area .md-grey p {
  color: #ffffff;
}
/*********************************************************
 * 
 * Footer Nav Styling
 * 
 ********************************************************/
footer .container-fluid {
  max-width: 1366px;
}
footer .sub-section {
  padding: 3.5555% 8%;
}
footer .drk-grey {
  background-color: #3b3b3b;
  color: #ffffff;
}
footer .drk-grey .col-md-12,
footer .drk-grey .col-md-4,
footer .drk-grey .col-md-8 {
  background-color: #ccc;
}
.footer-nav-main,
.footer-nav-aux {
  margin: 0;
  overflow: auto;
  padding: 0;
  width: 100%;
}
.footer-nav-main > li,
.footer-nav-aux > li {
  display: table-cell;
  float: left;
  width: 33.333%;
}
.footer-nav-main a,
.footer-nav-aux a {
  color: #ffffff;
  display: block;
  padding: 5px 0;
  text-align: left;
}
.footer-nav-main a:hover,
.footer-nav-aux a:hover {
  color: #a2a2a2;
}
.footer-nav-aux {
  margin-top: 6%;
}
.footer-nav-aux a {
  color: #a2a2a2;
  display: block;
  padding: 5px 0;
  text-align: left;
}
.footer-nav-aux a:hover {
  color: #ffffff;
}
.footer-widgets .widget.right {
  text-align: right;
}
.credits {
  margin-top: 3%;
  text-align: right;
}
.footer-logo {
  margin: 1% 0;
}
/* scroll-to-top
----------------------------------------------------
*/
.scroll-to-top {
  background: #363636;
  background: rgba(100, 100, 100, 0.4);
  color: #FFF;
  bottom: 4%;
  cursor: pointer;
  display: none;
  position: fixed;
  right: 20px;
  z-index: 999;
  font-size: 16px;
  text-align: center;
  line-height: 40px;
  width: 40px;
  border-radius: 4px;
  -webkit-transition: background-color 0.3s linear;
  -moz-transition: background-color 0.3s linear;
  -o-transition: background-color 0.3s linear;
  transition: background-color 0.3s linear;
}
.scroll-to-top:hover {
  background: #DA4453;
  opacity: .8;
}
/***************************************************
 * 
 * WordPress Content Area Styling WYSIWIG
 *
 ***************************************************/
.alignleft {
  display: inline;
  float: left;
}
.alignright {
  display: inline;
  float: right;
}
.aligncenter {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
blockquote.alignleft,
.wp-caption.alignleft,
img.alignleft {
  margin: 0.4em 1.6em 1.6em 0;
}
blockquote.alignright,
.wp-caption.alignright,
img.alignright {
  margin: 0.4em 0 1.6em 1.6em;
}
blockquote.aligncenter,
.wp-caption.aligncenter,
img.aligncenter {
  clear: both;
  margin-top: 0.4em;
  margin-bottom: 1.6em;
}
.wp-caption.alignleft,
.wp-caption.alignright,
.wp-caption.aligncenter {
  margin-bottom: 1.2em;
}
.social-icons a {
  color: #3b3b3b;
  font-size: 22px;
  line-height: 40px;
  list-style: none;
  display: inline-block;
  text-align: center;
  height: 40px;
  width: 40px;
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 20px;
  background-color: #DADADA;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
#footer-area .social-icons a {
  margin-right: 7px;
  background-color: #ffffff;
}
.social-icons a.facebook:hover {
  background-color: #4265b9 !important;
}
.social-icons a.twitter:hover {
  background-color: #55ACEE !important;
}
.social-icons a.dribbble:hover {
  background-color: #ea4c89 !important;
}
.social-icons a.flickr:hover {
  background-color: #ff0084 !important;
}
.social-icons a.googleplus:hover {
  background-color: #d62408 !important;
}
.social-icons a.skype:hover {
  background-color: #0bbff2 !important;
}
.social-icons a.pinterest:hover {
  background-color: #c31e26 !important;
}
.social-icons a.linkedin:hover {
  background-color: #005987 !important;
}
.social-icons a.vimeo:hover {
  background-color: #1bb6ec !important;
}
.social-icons a.tumblr:hover {
  background-color: #35506b !important;
}
.social-icons a.youtube:hover {
  background-color: #df3333 !important;
}
.social-icons a.instagram:hover {
  background-color: #F95B60 !important;
}
.social-icons a.rss:hover {
  background-color: #f39c12 !important;
}
.social-icons a.foursquare:hover {
  background-color: #2398C9 !important;
}
.social-icons a.soundcloud:hover {
  background-color: #F50 !important;
}
.social-icons a.github:hover {
  background-color: #4183C4 !important;
}
.social-icons .fa-googleplus:before {
  content: "\f0d5";
}
.social-icons .fa-vimeo:before {
  content: "\f194";
}
@media (min-width: 1401px) {
  .success .success-content .wp-post-image {
    height: 322px;
  }
}
@media (max-width: 1281px) and (min-width: 1025px) {
  .success .success-content .wp-post-image {
    height: 249px;
  }
}
@media (max-width: 1024px) {
  .success .success-content .wp-post-image {
    height: 196px;
  }
  .section-hero .center-block {
    margin-bottom: 15%;
    margin-top: 15%;
  }
  .section-hero .jumbotron .opt-1 h1 {
    top: 43%;
    bottom: 43%;
  }
  .section-hero .jumbotron .opt-2 p {
    top: 54%;
    padding: 0 6%;
  }
  .section-hero .jumbotron .opt-2 .jumbo-btn-group {
    text-align: center;
    top: 55%;
  }
  .section-hero .jumbotron .opt-4 {
    max-width: 450px;
    padding: 1%;
    left: auto;
    right: 2%;
  }
}
@media (max-width: 980px) {
  .page-hero,
  .section-hero {
    overflow-x: hidden;
  }
  .page-hero img.jumbotron-img,
  .section-hero img.jumbotron-img {
    width: 150%;
  }
  .page-hero h1 {
    margin-top: 8%;
  }
  .prod-design .row {
    margin-bottom: 0;
  }
  .prod-design .row .text-center {
    margin-bottom: 15%;
  }
  .prod-design .features-box {
    overflow: auto;
    margin-bottom: 3%;
  }
  .navbar-desktop {
    display: none;
  }
  .navbar .mobile .navbar-nav {
    display: block;
  }
  div#logo {
    margin-left: 15px;
  }
  .solutions {
    margin-top: 6%;
  }
  .solutions .col-md-4 {
    margin-bottom: 6%;
  }
  .solutions .cta-link {
    margin: 6% auto 6%;
  }
  .success .success-content .wp-post-image {
    height: auto;
  }
  .success .col-sm-12 {
    margin-bottom: 4%;
  }
  .mentions .col-md-2 {
    float: left;
    width: 33.3333%;
    padding-bottom: 30px;
  }
  .footer-nav-aux {
    margin-top: 3%;
    margin-bottom: 3%;
  }
}
@media (max-width: 768px) {
  .page-hero,
  .section-hero {
    overflow-x: hidden;
  }
  .page-hero img.jumbotron-img,
  .section-hero img.jumbotron-img {
    width: 200%;
  }
  .page-hero h1 {
    margin-top: 8%;
  }
  .content-area .sub-section {
    padding: 3.5555% 0%;
  }
  .site-hero .jumbotron-img {
    max-width: 145%;
  }
  .tab-wrapper {
    border-bottom: 1px solid #ccc;
  }
  .prod-design h1,
  .prod-design .h1 {
    font-size: 20px;
  }
  .site-hero .jumbotron .container-fluid {
    margin-top: 4%;
  }
  .mentions .cta-link {
    margin-bottom: 10%;
  }
  .section-hero .jumbotron .opt-1 {
    top: 44%;
    bottom: 44%;
  }
  .section-hero .jumbotron .opt-1 h1 {
    margin: 0;
  }
  .section-hero .jumbotron .opt-2 {
    top: 22%;
    bottom: 22%;
  }
  .section-hero .jumbotron .opt-2 p {
    top: 54%;
    padding: 0 6%;
  }
  .section-hero .jumbotron .opt-3 {
    top: 5%;
    bottom: 5%;
  }
  .section-hero .jumbotron .opt-3 h1 {
    margin-bottom: 3%;
  }
  .section-hero .jumbotron .opt-3 p {
    margin-bottom: 0;
  }
  .section-hero .jumbotron .opt-3 .jumbo-btn-group {
    margin-top: 3%;
  }
  .section-hero .jumbotron .opt-4 {
    position: relative;
    left: auto;
    right: auto;
    max-width: 100%;
    padding: 6%;
  }
  .section-hero .jumbotron .opt-4 p,
  .section-hero .jumbotron .opt-4 h1 {
    text-align: center;
  }
  #contentManagement .jumbotron {
    position: relative;
  }
  .product-section.lt-blue.alt {
    padding-top: 3%;
    margin-top: 0;
  }
  .story .wp-post-image,
  .video .wp-post-image {
    min-height: inherit;
  }
}
@media (max-width: 480px) {
  .page-hero img.jumbotron-img {
    width: 275%;
  }
  h1,
  .h1 {
    font-size: 20px;
  }
  .prod-design .content {
    width: 78%;
  }
  .tab-wrapper .nav-tabs li {
    display: inline;
    margin: 0;
    max-width: inherit;
    width: 100%;
  }
  .tab-wrapper .nav-tabs li:last-child {
    margin-left: 0;
  }
  .tab-wrapper .nav-tabs li a {
    padding: 15px 15px;
    border-bottom: 5px solid #ffffff;
  }
  .tab-wrapper .nav-tabs li.active a {
    background-color: #bbb;
    border-bottom: 5px solid #4a4a4a;
  }
  .site-hero .jumbotron-img {
    max-width: 225%;
  }
  .success .col-sm-12 {
    margin-bottom: 10%;
  }
  .success .col-xs-6 {
    width: 100%;
    margin-bottom: 10%;
  }
  .success .col-xs-6:last-child {
    margin-bottom: 0;
  }
  .mentions img.img-responsive {
    max-width: 50%;
    margin: 0px auto 10%;
  }
  .mentions .cta-link {
    margin-bottom: 10%;
  }
  .section-hero {
    overflow-x: hidden;
  }
  .section-hero img.jumbotron-img {
    width: 250%;
  }
  .section-hero .jumbotron .opt-2 {
    top: 10%;
    bottom: 10%;
  }
  .section-hero .jumbo-caption {
    padding: 0 4%;
  }
  .section-hero .jumbo-caption a.btn {
    margin-bottom: 6%;
    padding: 9px 27px;
  }
  .solutions .col-md-4 {
    margin-bottom: 6%;
    width: 100%;
  }
  .cta-link .btn.btn-info.btn-lg {
    padding: 12px 16px;
    font-size: 16px;
    line-height: 1.3333333;
    border-radius: 2px;
  }
  .footer-nav-main > li {
    width: 50%;
  }
  .footer-nav-aux > li {
    width: 50%;
  }
}
@media (max-width: 360px) {
  h1,
  .h1 {
    font-size: 30px;
  }
  h2,
  .h2 {
    font-size: 24px;
  }
  .site-hero .jumbotron-img {
    max-width: 425%;
  }
  .page-hero img.jumbotron-img {
    width: 425%;
  }
  .cta-link .btn.btn-info.btn-lg {
    padding: 12px 16px;
    font-size: 16px;
    line-height: 1.3333333;
    border-radius: 2px;
  }
  .jumbotron .jumbo-btn-group .btn {
    margin: 0 auto 6%;
    width: 100%;
  }
}
