/* xxx-xxx

 * Booking-suite-theme syling
 * @author Matt Peternell| http://mattpeternell.net
 * @package upBootWP 0.1
 *
 */
@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,400italic,600italic');
/***************************************************
 * 
 *  WP CSS Class Name styling
 * 
 **************************************************/
.post-navigation {
  margin: 6% auto;
}
.post-navigation .nav-next {
  text-align: right;
}
.admin-bar .navbar-fixed-top {
  top: 32px;
  z-index: 1030;
}
.admin-bar .site-hero,
.admin-bar .page-hero {
  margin-top: 97px;
}
.admin-bar.single .site-main {
  margin-top: 82px;
}
.post-edit-link {
  color: #fab910;
  float: none;
  text-align: center;
}
.post-edit-link:hover {
  color: #ba8704;
}
.btn-group.edit-post {
  text-align: center;
  width: 100%;
}
.revise {
  margin-left: 10px;
}
p {
  margin: 0 0 16px;
}
b,
strong {
  font-weight: 600;
}
.jumbo-btn-group.edit {
  margin-bottom: 3%;
}
/***************************************************
 * 
 *  Nav Bar
 * 
 **************************************************/
.language-bar {
  background-color: #001b46;
}
.language-bar .language-menu {
  color: #fff;
  font-size: 12px;
  padding-bottom: 0.25%;
  padding-top: 0.25%;
}
.language-bar .fa.fa-language {
  margin-right: 10px;
}
.language-bar .fa.fa-angle-down {
  margin-left: 10px;
}
.navbar-desktop {
  float: right;
  margin: 0;
  padding: 1.2% 0;
  width: auto;
}
.navbar-right {
  margin-right: 0;
}
.navbar .mobile .navbar-nav {
  margin: 0 -15px;
  display: none;
}
.navbar .mobile li {
  background-color: #345e97;
  border-bottom: 1px solid #486ea1;
}
.navbar .mobile li a {
  padding: 20px 40px;
  font-weight: normal;
  font-size: 18px;
}
.navbar .mobile .login-btn {
  background-color: #009fe3;
  margin: 0;
  border-radius: 0;
}
.navbar .mobile .login-btn a {
  border: none;
  text-align: left;
}
.navbar .mobile .request-btn {
  margin: 0;
}
.navbar .mobile .request-btn a {
  border-radius: 0;
  text-align: left;
}
.navbar .container-fluid {
  max-width: 1366px;
}
.navbar .nav > li > a {
  text-transform: uppercase;
}
.navbar-collapse.collapse.in {
  padding-bottom: 0;
  padding-top: 0;
}
.navbar-inverse .navbar-toggle {
  color: #ffffff;
}
#logo > a img {
  height: auto;
  margin-top: 18px;
  max-width: 275px;
  width: 100%;
}
/***************************************************
 * 
 *  Images and SVG Styling
 * 
 **************************************************/
.svg {
  height: 75px;
  width: 100%;
  max-width: 100px;
}
/***************************************************
 * 
 *  Breadcrumb Styling
 * 
 **************************************************/
.breadcrumb {
  margin-bottom: 0px;
}
/***************************************************
 * 
 *  Tab Styling
 * 
 **************************************************/
.tab-wrapper.about-tabs {
  padding: 0 8%;
  margin-bottom: 5%;
}
.tab-wrapper.about-tabs .nav-tabs {
  width: 100%;
  max-width: 1366px;
}
.tab-wrapper.about-tabs .nav-tabs a {
  padding: 10px 45px;
  text-align: left;
}
.tab-content.about-tab-panels {
  clear: both;
  margin: 0 auto;
  max-width: 1366px;
  overflow: auto;
  width: 100%;
}
.tab-content.about-tab-panels .panel .h5 {
  text-align: left;
}
.tab-content.about-tab-panels .panel p {
  padding: 0 15px;
}
.tab-content .col-lg-4.hq .panel {
  min-height: 527px;
}
.tab-wrapper {
  background-color: #f9f9f9;
}
.tab-wrapper .nav-tabs {
  margin: 0 auto;
  max-width: 400px;
  width: 100%;
}
.tab-wrapper .nav-tabs a {
  color: #3c3c3c;
  font-weight: 600;
  padding: 10px 60px;
  -webkit-transition: background 300ms ease-in;
  -moz-transition: background 300ms ease-in;
  -ms-transition: background 300ms ease-in;
  -o-transition: background 300ms ease-in;
  transition: background 300ms ease-in;
}
.tab-wrapper .nav-tabs a:hover {
  border-bottom: 5px solid #ffffff;
}
.tab-wrapper .nav-tabs li {
  display: inline-block;
  margin: 0;
  max-width: 185px;
  width: 100%;
}
.tab-wrapper .nav-tabs li.active a {
  border-bottom: 5px solid #4a4a4a;
}
.tab-wrapper .nav-tabs li.active a:hover {
  border-bottom: 5px solid #4a4a4a;
}
.tab-wrapper .nav-tabs li:last-child {
  margin-left: 20px;
}
/***************************************************
 * 
 *  PR List Styling
 * 
 **************************************************/
.pr-list {
  text-align: left;
}
.pr-list .pr-list-item {
  padding-top: 10px;
  padding-bottom: 10px;
}
.pr-list .pr-list-item a {
  font-weight: normal;
  color: #2cace2;
  text-align: left;
  display: block;
}
.pr-list .pr-list-item .post-edit-link {
  font-weight: normal;
  color: #fab910;
}
.content-area .press-releases h2.text-left {
  margin: 0;
}
.content-area .press-releases h3 {
  border-bottom: 1px solid #ccc;
  font-weight: 400;
  margin: 0;
  padding: 0 0 1.95%;
}
.content-area .press-releases .post-date {
  display: block;
  font-weight: mormal;
  text-align: left;
}
.content-area .press-releases .post-title {
  display: block;
  padding: 0 0 20px;
  text-align: left;
}
.content-area .press-releases .post-title a {
  font-weight: normal;
  text-align: left;
  color: #2cace2;
}
/***************************************************
 * 
 *  Button Styling
 * 
 **************************************************/
.fa.fa-pencil-square-o {
  margin-right: 4px;
}
.btn {
  text-transform: uppercase;
}
.btn.btn-default.clear {
  background-color: rgba(255, 255, 255, 0.01);
  border-color: #fff;
  color: white;
}
.btn.btn-default.clear:hover {
  background-color: rgba(255, 255, 255, 0.75);
  color: black;
}
.btn.btn-default:hover {
  background-color: #3c3c3c;
  border-color: #3c3c3c;
  color: #ffffff;
}
.request-btn .btn.btn-primary:hover {
  background-color: #d39904;
  border-color: #b08004;
  color: #ffffff;
  background-image: none;
}
.login-btn {
  margin-right: 15px;
  margin-left: 15px;
}
.login-btn .btn.btn-default:hover {
  background-image: none;
}
.btn-link {
  margin: 0;
  padding: 0;
}
.badges {
  margin-top: 6%;
}
/***************************************************
 * 
 *  Jumbotron Header
 * 
 **************************************************/
.site-hero {
  overflow: hidden;
  position: relative;
  margin-top: 72px;
}
.site-hero h1,
.site-hero p {
  text-align: center;
  margin: 0px auto;
}
.site-hero h1 {
  margin-bottom: 10px;
}
.site-hero .jumbo-btn-group {
  margin: 5% 0 0 7%;
  text-align: center;
}
.site-hero .jumbotron .container-fluid {
  margin-top: 10%;
}
.site-hero .jumbotron .jumbo-btn-group {
  margin: 4% 0 0 0;
}
.site-hero .jumbotron .btn-group.edit-post {
  text-align: center;
}
.site-hero .jumbotron-img {
  height: auto;
  margin: 0 auto;
  width: 100%;
}
.black h1,
.black p {
  color: black;
}
.page-hero {
  position: relative;
  margin-top: 72px;
  background-color: black;
}
.page-hero h1 {
  margin-bottom: 2%;
  margin-top: 10%;
}
.page-hero p {
  font-weight: normal;
}
.page-hero .jumbotron-img {
  height: auto;
  margin: 0 auto;
  width: 100%;
}
.page-hero .btn-group.edit-post {
  text-align: left;
}
.section-hero {
  position: relative;
}
.section-hero .jumbotron .container-fluid {
  margin-top: 12%;
  text-align: center;
}
.section-hero .jumbotron-img {
  height: auto;
  margin: 0 auto;
  width: 100%;
}
.section-hero .wp-post-image {
  margin: 0px auto;
}
.jumbotron.filter {
  background: none;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(16, 17, 19, 0.4)), color-stop(100%, rgba(16, 17, 19, 0.4)));
  background: -webkit-linear-gradient(top, rgba(16, 17, 19, 0.4), rgba(16, 17, 19, 0.4) 100%);
  background: linear-gradient(to bottom, rgba(16, 17, 19, 0.4), rgba(16, 17, 19, 0.4) 100%);
}
.jumbotron {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  background: none;
}
.jumbotron .jumbo-btn-group {
  margin: 5% 0 0 0;
}
.jumbotron .jumbo-btn-group .btn {
  margin-right: 1.5%;
}
.jumbotron .jumbo-caption {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 999;
}
.jumbotron p {
  font-weight: normal;
  max-width: 65%;
}
.section-hero p {
  font-weight: 200;
}
.section-hero .excerpt {
  margin: 0 auto 5%;
  max-width: 1024px;
  text-align: center;
}
.section-hero h1 {
  margin-top: 0;
}
.section-hero .page-header {
  border-bottom: none;
}
.section-hero img-responsive {
  margin: 0px auto;
}
.section-hero .jumbo-btn-group {
  text-align: center;
  top: 50%;
}
.section-hero .center-block {
  margin-bottom: 25%;
  margin-top: 25%;
  max-width: 450px;
}
.section-hero .center-block p {
  font-weight: 200;
}
.section-hero .center-block .jumbo-btn-group {
  text-align: center;
  top: 50%;
}
.section-hero .request-demo {
  margin: 6% 0;
  text-align: center;
}
.section-hero .jumbo-caption {
  max-width: 1366px;
  margin: 0px auto;
}
.section-hero img.mobile-img {
  max-width: 90%;
  margin: 10% auto 0;
}
.section-hero .jumbotron .jumbo-btn-group {
  margin: 0;
}
.section-hero .jumbotron .opt-1 {
  top: 50%;
  bottom: 50%;
}
.section-hero .jumbotron .opt-1 h1 {
  text-align: center;
}
.section-hero .jumbotron .opt-2 {
  top: 35%;
  bottom: 35%;
}
.section-hero .jumbotron .opt-2 h1 {
  text-align: center;
  margin-bottom: 6%;
}
.section-hero .jumbotron .opt-2 p {
  text-align: center;
}
.section-hero .jumbotron .opt-2 p.text-center {
  margin: 0px auto;
}
.section-hero .jumbotron .opt-2 .jumbo-btn-group {
  text-align: center;
  top: 50%;
}
.section-hero .jumbotron .opt-2 .jumbo-btn-group .btn {
  margin-left: 1%;
  margin-right: 1%;
}
.section-hero .jumbotron .opt-3 {
  top: 20%;
  bottom: 20%;
}
.section-hero .jumbotron .opt-3 h1 {
  text-align: center;
}
.section-hero .jumbotron .opt-3 p {
  text-align: center;
  margin-bottom: 3%;
}
.section-hero .jumbotron .opt-3 .jumbo-btn-group {
  text-align: center;
  margin-top: 6%;
}
.section-hero .jumbotron .opt-3 .jumbo-btn-group.edit {
  margin-bottom: 3%;
  margin-top: 3%;
}
.section-hero .jumbotron .opt-3 .jumbo-btn-group .btn {
  margin-left: 1%;
  margin-right: 1%;
}
.section-hero .jumbotron .opt-4 {
  bottom: auto;
  left: 54%;
  max-width: 500px;
  right: auto;
  top: 35%;
  width: 100%;
  background-color: rgba(244, 244, 243, 0.75);
}
.section-hero .jumbotron .opt-4 h1 {
  text-align: left;
}
.section-hero .jumbotron .opt-4 p {
  text-align: left;
}
.product-section.lt-grey,
.product-section.white {
  padding-top: 4%;
  padding-bottom: 4%;
}
.product-section.white-alt {
  padding-top: 4%;
}
.product-section.lt-blue {
  padding-top: 4%;
  padding-bottom: 4%;
}
.product-section .center-block {
  margin-bottom: 23%;
  margin-top: 23%;
  max-width: 450px;
}
.product-section .excerpt {
  margin-top: 3%;
  text-align: center;
}
.product-section .jumbo-btn-group {
  text-align: center;
}
.product-section .jumbo-btn-group.edit {
  margin-top: 3%;
  top: 0%;
}
.product-section .img-responsive.wp-post-image {
  margin: 0 auto;
}
.product-section p {
  max-width: 800px;
  width: 100%;
  margin: 0px auto;
}
/***************************************************
 * 
 *  Main Content Area
 * 
 **************************************************/
article {
  overflow: auto;
}
.single .content-area .sub-section {
  text-align: left;
}
.single .content-area .sub-section h1 {
  margin-bottom: 1%;
  margin-top: 0;
}
.single .posted-on {
  color: #918d8d;
  font-size: 14px;
}
.single post-edit-link {
  text-align: left;
}
.single .request-demo {
  text-align: center !important;
}
.features-box .row {
  margin-bottom: 5%;
}
.features-box .row:last-child {
  margin-bottom: 0;
}
.features-box .icon {
  float: left;
  margin: 0 7.555% 0 0;
  width: 45px;
  height: 45px;
}
.features-box .icon .svg {
  height: 45px;
}
.features-box .content {
  text-align: left;
  float: left;
  width: 80%;
}
.features-box .content p.excerpt {
  max-width: 100%;
  text-align: left;
  margin: 0 0 12.5px;
}
.features-box .content .btn-group.edit-post {
  text-align: left;
}
.features-box h1,
.features-box .h1,
.features-box h5,
.features-box .h5 {
  margin-top: 0;
}
.features-box .badge {
  font-weight: 600;
  margin: 0 3px;
}
.no-risk h1,
.no-risk p {
  color: #000;
}
.solutions .col-md-4 {
  text-align: center;
}
.solutions .properties {
  min-height: 350px;
}
.solutions .properties > footer {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
}
.solutions .section-title {
  color: #3c3c3c;
  font-size: 18px;
  margin: 3% auto 5%;
}
.solutions p {
  margin-left: auto;
  margin-right: auto;
  max-width: 350px;
  text-align: center;
}
.solutions .cta-link {
  margin: 0 auto;
  text-align: center;
}
.solutions.lt-blue {
  margin-top: 0;
  padding-top: 5%;
  padding-bottom: 5%;
}
.solutions.lt-blue .more-features {
  margin-bottom: 5%;
}
.solutions.lt-blue .more-features p.excerpt {
  margin-top: 25px;
}
.solutions.lt-blue .more-features:last-child {
  margin-bottom: 0;
}
.solutions.alt .row:first-child {
  margin-bottom: 0;
}
.story .wp-post-image,
.video .wp-post-image {
  display: block;
  /* min-height: 321px; */
  max-width: 100%;
  height: 100%;
}
.success .success-post {
  box-sizing: content-box;
  float: left;
  max-width: 100%;
  position: relative;
  width: 100%;
}
.success .success-post .filter {
  position: absolute;
  bottom: 0;
  top: 0;
  height: 100%;
  width: 100%;
  padding: 10px;
  background-color: #3F3E3E;
  z-index: 2;
  -moz-opacity: 0.25;
  -khtml-opacity: 0.25;
  opacity: 0.25;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=25);
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=25);
  filter: alpha(opacity=25);
}
.success .success-post header {
  bottom: 0;
  left: 0;
  padding: 10px;
  position: absolute;
  right: 0;
  z-index: 20;
}
.success .success-post .h5 {
  margin: 0 0 5px;
  color: #ffffff;
  text-align: left;
}
.success .success-post p.excerpt {
  margin: 0;
  color: #ffffff;
  text-align: left;
  max-width: 100%;
}
.success .inner {
  margin-top: 30px;
}
.success .edit-post {
  position: absolute;
  right: 10px;
  top: 5px;
  width: 100px;
  z-index: 5;
}
.success .play {
  left: 50%;
  margin-left: -33px;
  margin-top: -33px;
  position: absolute;
  top: 50%;
  z-index: 10;
}
.mentions h2 {
  margin: 0;
}
.img-divider .bground-img {
  margin: 0 auto;
  max-width: 100%;
  width: 100%;
}
.content-area .sub-section.premium h2,
.content-area .sub-section.premium .h2 {
  margin-bottom: 6%;
}
.content-area .request-demo {
  text-align: center;
}
.content-area .request-demo h3 {
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: normal;
}
.content-area .prod-features .btn-lg {
  text-align: center;
}
.content-area .synced {
  text-align: center;
}
.content-area .client-services.white-alt,
.content-area .client-services.md-grey {
  padding-bottom: 0;
}
.content-area .sub-section.error-404 {
  margin-top: 100px;
}
.content-area .sub-section.default-page {
  margin-top: 100px;
}
.content-area .sub-section.default-page h1,
.content-area .sub-section.default-page p {
  text-align: left !important;
}
.content-area .sub-section.connect {
  padding-top: 0;
}
.content-area .sub-section.request-hero {
  margin-top: 90px;
  padding: 5% 8%;
}
.content-area .sub-section.request-content {
  padding-top: 0;
}
.content-area .sub-section.contact-hero {
  margin-top: 100px;
}
.content-area .sub-section.contact-content {
  padding-top: 0;
}
.search .hentry p,
.search .hentry .excerpt {
  text-align: left;
}
.content-area .hentry .entry-header {
  overflow: auto;
}
.content-area .hentry .entry-header h2 {
  margin-bottom: 2%;
  text-align: left;
}
.content-area .hentry .read-more {
  font-size: 14px;
  margin-left: 10px;
  text-decoration: underline;
}
.content-area .hentry .entry-summary .excerpt {
  margin: inherit;
  max-width: 80%;
}
.content-area .hentry .entry-footer {
  font-size: 14px;
  margin-top: 1.25%;
}
.content-area .sub-section.premium .row:first-child {
  margin-bottom: 5%;
}
.content-area .link-cta:first-child {
  border-right: 1px solid #d5effc;
  padding-right: 4%;
}
.content-area .link-cta:last-child {
  border: none;
  padding-left: 4%;
}
.content-area .link-cta h1 {
  font-size: 24px;
  font-weight: normal;
  margin: 0 0 5%;
}
.content-area .link-cta p {
  margin-bottom: 32px;
  max-width: inherit;
  text-align: left;
}
.content-area .link-cta p:last-child {
  margin-bottom: 0;
}
.content-area .sub-section {
  padding: 5% 8%;
}
.content-area .sub-section .img-responsive {
  margin: 0 auto;
}
.content-area .sub-section .page-header {
  border: none;
  margin-bottom: 2%;
}
.content-area .sub-section h1 {
  margin-top: 0;
}
.content-area .sub-section h1.text-center {
  max-width: 980px;
  margin: 0px auto 12.5px;
}
.content-area .sub-section h2 {
  margin-bottom: 0;
  margin-top: 0;
}
.content-area .sub-section .row {
  margin-bottom: 5%;
}
.content-area .sub-section .row:last-child {
  margin-bottom: 0;
}
.content-area .sub-section .excerpt {
  margin: 0 auto;
  max-width: 80%;
  text-align: center;
}
.content-area .sub-section > p > .post-edit-link {
  text-align: center;
}
.content-area .container-fluid {
  max-width: 1366px;
}
.content-area .lt-blue {
  background-color: #009fe3;
}
.content-area .lt-blue h1,
.content-area .lt-blue h2,
.content-area .lt-blue h3,
.content-area .lt-blue h4,
.content-area .lt-blue h5,
.content-area .lt-blue p {
  color: #ffffff;
}
.content-area .lt-grey {
  background-color: #f9f9f9;
}
.content-area .md-grey {
  background-color: #e5e1e1;
  color: #3c3c3c;
}
.content-area .md-grey h1,
.content-area .md-grey h2,
.content-area .md-grey p {
  color: #3c3c3c;
}
.content-area .dark-grey {
  background-color: #4a4a4a;
  color: #ffffff;
}
.content-area .dark-grey h1,
.content-area .dark-grey h2,
.content-area .dark-grey p {
  color: #ffffff;
}
.regional-contacts {
  min-height: 300px;
}
.regional-contacts:nth-child(2n+1) {
  clear: both;
}
.regional-contacts .h5 {
  border-bottom: 1px solid #979797;
  margin-right: 60px;
  padding-bottom: 10px;
  text-transform: uppercase;
}
/*********************************************************
 * 
 * Bootstrap Panel Component Styling
 * 
 ********************************************************/
.panel .panel-heading,
.panel .panel-footer {
  border: none;
}
.panel .panel-footer p:last-child {
  margin-bottom: 0;
}
.panel.row.contact-items {
  margin: 0 0 2%;
  padding: 2%;
}
/*********************************************************
 * 
 * Bootstrap Form Element Styling
 * 
 ********************************************************/
.checkbox label {
  font-size: 16px;
  margin-bottom: 3%;
}
.form-group label .fa.fa-asterisk {
  color: red;
  display: inline-block;
  font-size: 8px;
  margin: 5px;
  vertical-align: top;
}
/*********************************************************
 * 
 * Footer Nav Styling
 * 
 ********************************************************/
footer .container-fluid {
  max-width: 1366px;
}
footer .sub-section {
  padding: 5% 8%;
}
footer .drk-grey {
  background-color: #3b3b3b;
  color: #ffffff;
}
.footer-nav-main,
.footer-nav-aux {
  margin: 0;
  overflow: auto;
  padding: 0;
  width: 100%;
}
.footer-nav-main > li,
.footer-nav-aux > li {
  display: table-cell;
  float: left;
  width: 33.333%;
}
.footer-nav-main a,
.footer-nav-aux a {
  color: #ffffff;
  display: block;
  padding: 5px 0;
  text-align: left;
}
.footer-nav-main a:hover,
.footer-nav-aux a:hover {
  color: #a2a2a2;
}
.footer-nav-aux {
  margin-top: 6%;
}
.footer-nav-aux a {
  color: #a2a2a2;
  display: block;
  padding: 5px 0;
  text-align: left;
}
.footer-nav-aux a:hover {
  color: #ffffff;
}
.footer-widgets .widget.right {
  text-align: right;
}
.credits {
  margin-top: 3%;
  text-align: right;
}
.footer-logo {
  margin: 1% 0;
}
/***************************************************
 * 
 * scroll-to-top
 *
 ***************************************************/
.scroll-to-top {
  background: #009fe3;
  background: rgba(0, 159, 227, 0.5);
  color: #FFF;
  bottom: 4%;
  cursor: pointer;
  display: none;
  position: fixed;
  right: 20px;
  z-index: 999;
  font-size: 16px;
  text-align: center;
  width: 40px;
  border-radius: 4px;
  -webkit-transition: background-color 0.3s linear;
  -moz-transition: background-color 0.3s linear;
  -o-transition: background-color 0.3s linear;
  transition: background-color 0.3s linear;
}
.scroll-to-top:hover {
  background: #006996;
  opacity: .8;
}
.scroll-to-top .fa-angle-up {
  font-size: 24px;
  font-weight: 600;
  line-height: 43px;
}
/***************************************************
 * 
 * WordPress Content Area Styling WYSIWIG
 *
 ***************************************************/
.alignleft {
  display: inline;
  float: left;
}
.alignright {
  display: inline;
  float: right;
}
.aligncenter {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
blockquote.alignleft,
.wp-caption.alignleft,
img.alignleft {
  margin: 0.4em 1.6em 1.6em 0;
}
blockquote.alignright,
.wp-caption.alignright,
img.alignright {
  margin: 0.4em 0 1.6em 1.6em;
}
blockquote.aligncenter,
.wp-caption.aligncenter,
img.aligncenter {
  clear: both;
  margin-top: 0.4em;
  margin-bottom: 1.6em;
}
.wp-caption.alignleft,
.wp-caption.alignright,
.wp-caption.aligncenter {
  margin-bottom: 1.2em;
}
.social-icons a {
  color: #3b3b3b;
  font-size: 22px;
  line-height: 40px;
  list-style: none;
  display: inline-block;
  text-align: center;
  height: 40px;
  width: 40px;
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 20px;
  background-color: #DADADA;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
#footer-area .social-icons a {
  margin-right: 7px;
  background-color: #ffffff;
}
.social-icons a.facebook:hover {
  background-color: #4265b9 !important;
}
.social-icons a.twitter:hover {
  background-color: #55ACEE !important;
}
.social-icons a.dribbble:hover {
  background-color: #ea4c89 !important;
}
.social-icons a.flickr:hover {
  background-color: #ff0084 !important;
}
.social-icons a.googleplus:hover {
  background-color: #d62408 !important;
}
.social-icons a.skype:hover {
  background-color: #0bbff2 !important;
}
.social-icons a.pinterest:hover {
  background-color: #c31e26 !important;
}
.social-icons a.linkedin:hover {
  background-color: #005987 !important;
}
.social-icons a.vimeo:hover {
  background-color: #1bb6ec !important;
}
.social-icons a.tumblr:hover {
  background-color: #35506b !important;
}
.social-icons a.youtube:hover {
  background-color: #df3333 !important;
}
.social-icons a.instagram:hover {
  background-color: #F95B60 !important;
}
.social-icons a.rss:hover {
  background-color: #f39c12 !important;
}
.social-icons a.foursquare:hover {
  background-color: #2398C9 !important;
}
.social-icons a.soundcloud:hover {
  background-color: #F50 !important;
}
.social-icons a.github:hover {
  background-color: #4183C4 !important;
}
.social-icons .fa-googleplus:before {
  content: "\f0d5";
}
.social-icons .fa-vimeo:before {
  content: "\f194";
}
@media (min-width: 1401px) {
  .success .success-post .wp-post-image {
    height: 322px;
  }
}
@media (max-width: 1281px) and (min-width: 1025px) {
  .success .success-post .wp-post-image {
    height: 249px;
  }
}
@media (max-width: 1024px) {
  .radio-inline + .radio-inline,
  .checkbox-inline + .checkbox-inline {
    margin-top: 0;
    margin-left: 0;
  }
  .page-hero {
    margin-top: 90px;
  }
  .jumbotron .jumbo-btn-group {
    text-align: center;
  }
  .jumbotron .jumbo-btn-group .btn {
    margin: 0 2% 6%;
    font-size: inherit;
    display: inline-block;
  }
  .jumbotron h1 {
    text-align: center;
  }
  .jumbotron p {
    text-align: center;
    max-width: 85%;
    margin: 0px auto;
  }
  .navbar-right {
    margin-right: auto;
  }
  .success .success-post .wp-post-image {
    height: 196px;
  }
  .prod-features .content {
    text-align: left;
    float: left;
    width: 75%;
  }
  .content-area .sub-section {
    padding: 5% 1%;
  }
  .section-hero .center-block {
    margin-bottom: 15%;
    margin-top: 15%;
  }
  .section-hero .jumbotron .opt-1 h1 {
    top: 43%;
    bottom: 43%;
  }
  .section-hero .jumbotron .opt-2 p {
    top: 54%;
    padding: 0 6%;
  }
  .section-hero .jumbotron .opt-2 .jumbo-btn-group {
    text-align: center;
    top: 55%;
  }
  .section-hero .jumbotron .opt-4 {
    max-width: 450px;
    padding: 1%;
    left: auto;
    right: 2%;
  }
}
@media (max-width: 980px) {
  .jumbotron .jumbo-btn-group {
    text-align: center;
  }
  .jumbotron .jumbo-btn-group .btn {
    margin: 0 2% 6%;
    font-size: inherit;
    display: inline-block;
  }
  .jumbotron h1 {
    text-align: center;
    font-size: 28px;
  }
  .jumbotron p {
    text-align: center;
    max-width: 85%;
    margin: 0px auto;
  }
  .request-content {
    background-position: 0 -165px !important;
  }
  .request-content .panel {
    margin-top: 6%;
  }
  .content-area .sub-section .row:last-child {
    margin-bottom: 0;
  }
  .prod-features .features-box {
    margin-bottom: 3%;
    overflow: auto;
  }
  #propertyWebsites .properties:last-child {
    width: 100%;
  }
  .navbar-desktop {
    display: none;
  }
  .navbar .mobile .navbar-nav {
    display: block;
  }
  div#logo {
    margin-left: 15px;
  }
  .solutions .col-md-4 {
    margin-bottom: 5%;
  }
  .success .success-post .wp-post-image {
    height: auto;
  }
  .mentions .col-md-2 {
    float: left;
    width: 33.3333%;
    padding-bottom: 30px;
  }
  .footer-nav-aux {
    margin-top: 3%;
    margin-bottom: 3%;
  }
  .content-area .link-cta:first-child {
    border-right: none;
    border-bottom: 1px solid #d5effe;
    padding-right: 15px;
    padding-bottom: 6%;
  }
  .content-area .link-cta:last-child {
    border: none;
    padding-left: 15px;
    padding-top: 6%;
  }
  .content-area .sub-section.lt-blue .excerpt {
    margin: 0 auto 6%;
  }
}
@media (max-width: 768px) {
  .small-screen {
    display: none !important;
  }
  .visible-xs-block {
    display: block !important;
  }
  .jumbotron .jumbo-btn-group .btn {
    margin: 0 auto 6%;
    width: 80%;
    font-size: inherit;
    display: block;
  }
  .jumbotron h1 {
    text-align: center;
    margin: 12% 8%;
    font-size: 38px;
  }
  .jumbotron p {
    text-align: center;
    margin: 0 auto 12%;
    max-width: 85%;
  }
  .premium .request-demo {
    margin-top: 5%;
  }
  .tab-wrapper {
    border-bottom: 1px solid #ccc;
  }
  .tab-wrapper.about-tabs .nav-tabs li {
    max-width: 135px;
  }
  .tab-wrapper.about-tabs .nav-tabs a {
    text-align: left;
  }
  .content-area .btn-lg {
    text-align: center;
    padding: 9px 27px;
  }
  .section-hero .jumbotron .opt-1 {
    top: 44%;
    bottom: 44%;
  }
  .section-hero .jumbotron .opt-1 h1 {
    margin: 0;
  }
  .section-hero .jumbotron .opt-2 {
    top: 5%;
    bottom: 5%;
  }
  .section-hero .jumbotron .opt-2 p {
    top: 54%;
    padding: 0 6%;
  }
  .section-hero .jumbotron .opt-2 h1 {
    margin: 6% 0;
  }
  .section-hero .jumbotron .opt-2 .jumbo-btn-group .btn {
    margin: 0 2% 2%;
    width: auto;
    display: inline-block;
  }
  .section-hero .jumbotron .opt-3 {
    top: 5%;
    bottom: 5%;
  }
  .section-hero .jumbotron .opt-3 h1 {
    margin: 6% 0 1%;
  }
  .section-hero .jumbotron .opt-3 p {
    margin: 0;
  }
  .section-hero .jumbotron .opt-3 .jumbo-btn-group {
    margin-top: 4%;
  }
  .section-hero .jumbotron .opt-3 .jumbo-btn-group .btn {
    margin: 0 2% 2%;
    width: auto;
    display: inline-block;
  }
  .section-hero .jumbotron .opt-4 {
    position: relative;
    left: auto;
    right: auto;
    max-width: 100%;
    padding: 6%;
  }
  .section-hero .jumbotron .opt-4 p,
  .section-hero .jumbotron .opt-4 h1 {
    text-align: center;
  }
  #contentManagement .jumbotron {
    position: relative;
  }
  .product-section.lt-blue.alt {
    padding-top: 3%;
    margin-top: 0;
  }
  .solutions .properties {
    min-height: inherit;
    margin-bottom: 10%;
  }
  .solutions .properties > footer {
    bottom: auto;
    left: auto;
    position: relative;
    right: auto;
  }
  .solutions .properties:last-child {
    margin-bottom: 0;
  }
  .content-area .contact-content .contact-items {
    margin-bottom: 6%;
  }
  .content-area .contact-content .contact-items:last-child {
    margin-bottom: 6%;
  }
  .content-area .contact-content .contact-items h4 {
    text-align: center;
  }
  .story .wp-post-image,
  .video .wp-post-image {
    min-height: inherit;
  }
  .site-footer .col-sm-12 {
    margin-bottom: 6%;
  }
}
@media (max-width: 480px) {
  body {
    font-size: 16px;
  }
  h1,
  .h1 {
    font-size: 28px;
  }
  h2,
  .h2 {
    font-size: 22px;
  }
  h3,
  .h3 {
    font-size: 20px;
  }
  h4,
  .h4 {
    font-size: 18px;
  }
  h5,
  .h5 {
    font-size: 168px;
  }
  #logo > a img {
    margin-top: 5%;
    max-width: 200px;
  }
  .jumbotron .jumbo-btn-group .btn {
    margin: 0 auto 6%;
    width: 80%;
    font-size: inherit;
    display: block;
  }
  .jumbotron h1 {
    font-size: 28px;
    text-align: center;
    margin: 8%;
  }
  .jumbotron p {
    font-size: inherit;
    text-align: center;
    margin-bottom: 8%;
  }
  .prod-features .content {
    width: 78%;
  }
  .features-box .content {
    width: 100%;
  }
  .section-hero.no-risk .jumbotron .opt-2 h1 {
    margin-top: 0;
    margin-bottom: 0;
  }
  .tab-wrapper .nav-tabs li {
    display: inline;
    margin: 0;
    max-width: inherit;
    width: 100%;
  }
  .tab-wrapper .nav-tabs li:last-child {
    margin-left: 0;
  }
  .tab-wrapper .nav-tabs li a {
    padding: 15px 15px;
    border-bottom: 5px solid #ffffff;
  }
  .tab-wrapper .nav-tabs li.active a {
    background-color: #bbb;
    border-bottom: 5px solid #4a4a4a;
  }
  .tab-content.about-tab-panels .tab-pane .col-xs-6 {
    width: 100%;
  }
  .content-area .sub-section .row {
    margin-bottom: 10%;
  }
  .success .col-sm-12 {
    margin-bottom: 10%;
  }
  .success .col-xs-6 {
    width: 100%;
    margin-bottom: 10%;
  }
  .success .col-xs-6:last-child {
    margin-bottom: 0;
  }
  .mentions img.img-responsive {
    max-width: 50%;
    margin: 0px auto 10%;
  }
  .mentions .cta-link {
    margin-bottom: 10%;
  }
  .section-hero .jumbotron .opt-1,
  .section-hero .jumbotron .opt-2 {
    top: 10%;
    bottom: 10%;
  }
  .section-hero .jumbotron .opt-1 h1,
  .section-hero .jumbotron .opt-2 h1 {
    text-align: center;
    margin-bottom: 10%;
    margin-top: 10%;
  }
  .section-hero .jumbo-caption {
    padding: 0 4%;
  }
  .section-hero .jumbo-caption a.btn {
    margin-bottom: 6%;
    padding: 9px 27px;
  }
  .section-hero .jumbo-btn-group {
    display: none;
  }
  .solutions .col-md-4 {
    margin-bottom: 5%;
    width: 100%;
  }
  .cta-link .btn.btn-info.btn-lg {
    padding: 12px 16px;
    font-size: 16px;
    line-height: 1.3333333;
    border-radius: 2px;
  }
  .regional-contacts {
    min-height: inherit;
  }
  a.btn.btn-primary.btn-lg {
    font-size: inherit;
  }
  .footer-nav-main > li {
    width: 50%;
  }
  .footer-nav-aux > li {
    width: 50%;
  }
}
@media (max-width: 360px) {
  body {
    font-size: 14px;
  }
  h1,
  .h1 {
    font-size: 22px;
  }
  h2,
  .h2 {
    font-size: 16px;
  }
  #logo > a img {
    margin-top: 8.555%;
    max-width: 175px;
  }
  .svg {
    height: 50px;
  }
  section#multiLanguageSupport {
    margin-bottom: 10%;
  }
  .jumbotron .jumbo-btn-group .btn {
    margin: 0 auto 6%;
    width: 80%;
    font-size: inherit;
    display: block;
  }
  .jumbotron h1 {
    font-size: 22px;
    text-align: center;
    margin: 6%;
  }
  .cta-link .btn.btn-info.btn-lg {
    padding: 12px 16px;
    font-size: 16px;
    line-height: 1.3333333;
    border-radius: 2px;
  }
  .section-hero h1 {
    margin-top: 8%;
  }
  .section-hero .excerpt {
    margin: 8% auto;
  }
  .section-hero .request-demo {
    margin: 16% 0;
  }
  .content-area .sub-section {
    padding: 8% 4.5%;
  }
  .content-area .sub-section .excerpt {
    max-width: 100%;
  }
}
